#startCircle.onload .circle_big {
  -webkit-animation: startPulseBig ease-in 2s;
  -moz-animation: startPulseBig ease-in 2s;
  -o-animation: startPulseBig ease-in 2s;
  animation: startPulseBig ease-in 2s;
}
#startCircle.onload .circle_mid {
  -webkit-animation: startPulseMid ease-in 2s;
  -moz-animation: startPulseMid ease-in 2s;
  -o-animation: startPulseMid ease-in 2s;
  animation: startPulseMid ease-in 2s;
}
#startCircle.onload .circle_center {
  -webkit-animation: startPulseCenter ease-in 2s;
  -moz-animation: startPulseCenter ease-in 2s;
  -o-animation: startPulseCenter ease-in 2s;
  animation: startPulseCenter ease-in 2s;
}
#startCircle.animate:hover .circle_big {
  -webkit-animation: hoverPulseBig ease-in 0.8s;
  -moz-animation: hoverPulseBig ease-in 0.8s;
  -o-animation: hoverPulseBig ease-in 0.8s;
  animation: hoverPulseBig ease-in 0.8s;
}
#startCircle.animate:hover .circle_mid {
  -webkit-animation: hoverPulseMid ease-in 0.8s;
  -moz-animation: hoverPulseMid ease-in 0.8s;
  -o-animation: hoverPulseMid ease-in 0.8s;
  animation: hoverPulseMid ease-in 0.8s;
}
#startCircle.animate:hover .circle_center {
  -webkit-animation: hoverPulseCenter ease-in 0.8s;
  -moz-animation: hoverPulseCenter ease-in 0.8s;
  -o-animation: hoverPulseCenter ease-in 0.8s;
  animation: hoverPulseCenter ease-in 0.8s;
}
#startCircle .circle_center .OIW,
#startCircle .circle_center > .arrow {
  -webkit-animation: textOpacity ease-in 3s;
  -moz-animation: textOpacity ease-in 3s;
  -o-animation: textOpacity ease-in 3s;
  animation: textOpacity ease-in 3s;
}
.circle.animate:hover .circle_big {
  -webkit-animation: circleHoverBig ease-in 0.8s;
  -moz-animation: circleHoverBig ease-in 0.8s;
  -o-animation: circleHoverBig ease-in 0.8s;
  animation: circleHoverBig ease-in 0.8s;
}
.circle.animate:hover .circle_mid {
  -webkit-animation: circleHoverMid ease-in 0.8s;
  -moz-animation: circleHoverMid ease-in 0.8s;
  -o-animation: circleHoverMid ease-in 0.8s;
  animation: circleHoverMid ease-in 0.8s;
}
.circle.animate:hover .circle_center {
  -webkit-animation: circleHoverCenter ease-in 0.8s;
  -moz-animation: circleHoverCenter ease-in 0.8s;
  -o-animation: circleHoverCenter ease-in 0.8s;
  animation: circleHoverCenter ease-in 0.8s;
}
.circle.show {
  opacity: 1;
  -webkit-transition: circleShow ease-in 0.5s;
  -moz-transition: circleShow ease-in 0.5s;
  -ms-transition: circleShow ease-in 0.5s;
  -o-transition: circleShow ease-in 0.5s;
  transition: circleShow ease-in 0.5s;
}
@-webkit-keyframes startPulseBig {
  0% {
    width: 0;
    height: 0;
    margin-top: 125px;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
@-moz-keyframes startPulseBig {
  0% {
    width: 0;
    height: 0;
    margin-top: 125px;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
@-o-keyframes startPulseBig {
  0% {
    width: 0;
    height: 0;
    margin-top: 125px;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
@keyframes startPulseBig {
  0% {
    width: 0;
    height: 0;
    margin-top: 125px;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
@-webkit-keyframes hoverPulseBig {
  0% {
    width: 300px;
    height: 300px;
  }
  50% {
    width: 240px;
    height: 240px;
    margin-top: 30px;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
@-moz-keyframes hoverPulseBig {
  0% {
    width: 300px;
    height: 300px;
  }
  50% {
    width: 240px;
    height: 240px;
    margin-top: 30px;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
@-o-keyframes hoverPulseBig {
  0% {
    width: 300px;
    height: 300px;
  }
  50% {
    width: 240px;
    height: 240px;
    margin-top: 30px;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
@keyframes hoverPulseBig {
  0% {
    width: 300px;
    height: 300px;
  }
  50% {
    width: 240px;
    height: 240px;
    margin-top: 30px;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
@-webkit-keyframes startPulseMid {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-moz-keyframes startPulseMid {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-o-keyframes startPulseMid {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@keyframes startPulseMid {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-webkit-keyframes hoverPulseMid {
  0% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
  50% {
    width: 230px;
    height: 230px;
    margin-top: 5px;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-moz-keyframes hoverPulseMid {
  0% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
  50% {
    width: 230px;
    height: 230px;
    margin-top: 5px;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-o-keyframes hoverPulseMid {
  0% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
  50% {
    width: 230px;
    height: 230px;
    margin-top: 5px;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@keyframes hoverPulseMid {
  0% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
  50% {
    width: 230px;
    height: 230px;
    margin-top: 5px;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-webkit-keyframes startPulseCenter {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-moz-keyframes startPulseCenter {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-o-keyframes startPulseCenter {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@keyframes startPulseCenter {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-webkit-keyframes hoverPulseCenter {
  0% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
  50% {
    width: 210px;
    height: 210px;
    margin-top: 10px;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-moz-keyframes hoverPulseCenter {
  0% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
  50% {
    width: 210px;
    height: 210px;
    margin-top: 10px;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-o-keyframes hoverPulseCenter {
  0% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
  50% {
    width: 210px;
    height: 210px;
    margin-top: 10px;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@keyframes hoverPulseCenter {
  0% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
  50% {
    width: 210px;
    height: 210px;
    margin-top: 10px;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-webkit-keyframes textOpacity {
  0%,
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@-moz-keyframes textOpacity {
  0%,
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@-o-keyframes textOpacity {
  0%,
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@keyframes textOpacity {
  0%,
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@-webkit-keyframes circleHoverBig {
  0% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
  50% {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
}
@-moz-keyframes circleHoverBig {
  0% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
  50% {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
}
@-o-keyframes circleHoverBig {
  0% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
  50% {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
}
@keyframes circleHoverBig {
  0% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
  50% {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
}
@-webkit-keyframes circleHoverMid {
  0% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
}
@-moz-keyframes circleHoverMid {
  0% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
}
@-o-keyframes circleHoverMid {
  0% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
}
@keyframes circleHoverMid {
  0% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
}
@-webkit-keyframes circleHoverCenter {
  0% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
}
@-moz-keyframes circleHoverCenter {
  0% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
}
@-o-keyframes circleHoverCenter {
  0% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
}
@keyframes circleHoverCenter {
  0% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
}
@-webkit-keyframes circleShow {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes circleShow {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes circleShow {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes circleShow {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
