@import "mixins";

#startCircle.onload {
  .circle_big { .x-animation(startPulseBig ease-in 2s); }
  .circle_mid { .x-animation(startPulseMid ease-in 2s); }
  .circle_center { .x-animation(startPulseCenter ease-in 2s); }
}

#startCircle.animate:hover {
  .circle_big{ .x-animation(hoverPulseBig ease-in 0.8s); }
  .circle_mid { .x-animation(hoverPulseMid ease-in 0.8s); }
  .circle_center { .x-animation(hoverPulseCenter ease-in 0.8s) }
}

#startCircle .circle_center .OIW,
#startCircle .circle_center > .arrow{
  .x-animation(textOpacity ease-in 3s);
}

.circle.animate:hover {
  .circle_big { .x-animation(circleHoverBig ease-in 0.8s); }
  .circle_mid { .x-animation(circleHoverMid ease-in 0.8s); }
  .circle_center{ .x-animation(circleHoverCenter ease-in 0.8s); }
}

.circle.show {
  opacity: 1;
  .x-transition(circleShow ease-in .5s);
}

.circleShow() {
  0% { opacity: 0; }
  70% { opacity: 0; }
  100% { opacity: 1; }
}

.startPulseBig () {
  0% {
    width: 0;
    height: 0;
    margin-top: 125px;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
.hoverPulseBig () {
  0% {
    width: 300px;
    height: 300px;
  }
  50% {
    width: 240px;
    height: 240px;
    margin-top: 30px;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
.startPulseMid () {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
.hoverPulseMid () {
  0% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
  50% {
    width: 230px;
    height: 230px;
    margin-top: 5px;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
.startPulseCenter () {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
.hoverPulseCenter () {
  0% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
  50% {
    width: 210px;
    height: 210px;
    margin-top: 10px;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
.textOpacity () {
  0%,
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
.circleHoverBig () {
  0% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
  50% {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
}
.circleHoverMid () {
  0% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
}
.circleHoverCenter () {
  0% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
}

.x-keyframes(startPulseBig, {.startPulseBig});
.x-keyframes(hoverPulseBig, {.hoverPulseBig});
.x-keyframes(startPulseMid, {.startPulseMid});
.x-keyframes(hoverPulseMid, {.hoverPulseMid});
.x-keyframes(startPulseCenter, {.startPulseCenter});
.x-keyframes(hoverPulseCenter, {.hoverPulseCenter});
.x-keyframes(textOpacity, {.textOpacity});
.x-keyframes(circleHoverBig, {.circleHoverBig});
.x-keyframes(circleHoverMid, {.circleHoverMid});
.x-keyframes(circleHoverCenter, {.circleHoverCenter});
.x-keyframes(circleShow, {.circleShow});