@import "mixins";

body  {
  background: #ffffff url("../img/graphy.png") top center;
}
.ink-grid {
  max-width: 970px!important;
}

header {
  padding-top: 20px;

  .left {
    margin-right: 292px;
    padding-left: 292px;
    border-bottom: 1px solid #7e94a5;
    text-align: center;
    line-height: 47px;

    .about-link {
      font-size: 22px;
      color: #5a5a5a;
      margin: 0 0 0 -212px;
      text-decoration: none;
      font-weight: 300;
      float: left;
    }

    .date {
      text-align: center;
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      color: #0092c6;
    }
  }

  #settings {
    float: right;
    background: url(../img/settings.png);
    width: 292px;
    height: 60px;
    margin-top: -44px;

    .old-2014, .old-2013 {
      font-size: 13px;
      color: #5a5a5a;
      font-weight: 200;
      display: block;
      float: left;
    }

    .old-2014 {
      margin-left: 40px;
    }

    .old-2013 {
      margin-top: 48px;
    }

    a {
      text-decoration: none;
      color: #5a5a5a;
      &:hover, &.active {
        color: #4B95C5;
      }
    }

    .lang {
      list-style: none;
      margin: -21px 83px 0 0;
      padding: 0;
      float: right;

      li {
        display: inline-block;
        margin-right: 4px;
      }

      a {
        display: inline-block;
        text-decoration: none;
        color: #5a5a5a;
        font-size: 13px;
        top: -8px;

        &:hover, &.active {
          color: #4B95C5;

          &:after {
            content: "";
            display: block;
            width: 5px;
            height: 5px;
            background: #4B95C5;
            border-radius: 50%;
            margin: 10px auto auto;
          }
        }
      }
    }
  }
}

#startCircle {
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: 155px;
  left: 50%;
  margin-left: -150px;
  border: 1px solid transparent;
  cursor: pointer;

  &.animate {
    z-index: 11;
  }

  &:before {
    .dotted-line;
    margin: -150px auto 0 auto;
  }

  &.opened:after {
    content: "";
    display: block;
    background: url("../img/dots-lines-5.png") top center no-repeat;
    width: 571px;
    height: 328px;
    margin: -80px 0 0 -135px;
  }

  .circle_big {
    width: 300px;
    height: 300px;
  }

  .circle_mid {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }

  .circle_center {

    .OIW {
      display: inline-block;
      border-radius: 0;
      width: 190px;
      height: 120px;
      margin-top: 35px;
      background: url(../img/logo-OIW.png) center center no-repeat;
    }

    width: 190px;
    height: 190px;
    margin-top: 35px;
    text-align: center;
    position: relative;
  }

  &:hover .circle_center{
    background: #006BAF;

    .OIW {
      background: url(../img/logo-OIW-hover.png) center center no-repeat;
    }

    .arrow {
      height: 19px;
      background-position: 50px -90px;
    }
  }

  .arrow {
    width: 30px;
    height: 20px;
    background: url(../img/arrows.png) 50px -70px;
    .x-transition(margin 0.5s);
  }
}

#content {
  &.open {
    height: 1230px !important;
    .x-transition(all 3s);
  }
}

.circles {
  position: relative;
  width: 900px;
  height: 100px;
  margin-top: -100px;

  .circle {
    opacity: 0;
    position: absolute;
    top: -100px;
    left: 350px;
    z-index: 10;

    .x-transition(all 0.3s);

    &:first-child, &:last-child {
      .x-transform(scale(0.9));
    }

    &.circleOpen{

      width: 700px;
      height: 700px;
      left: 100px;

      .x-transform(scale(1));

      .circle_big {
        width: 700px;
        height: 700px;
        &:hover {
          cursor: default;
        }
      }
      .circle_mid {
        width: 650px;
        height: 650px;
        margin-top: 25px;
      }
      .circle_center {
        width: 630px;
        height: 630px;
        margin-top: 10px;
        padding-top: 20px;
        position: relative;
        .logo {
          display: block;
          width: 156px;
          height: 156px;
        }
      }
      .arrow{
        display: none
      }
    }
    .circle_big {
      width: 200px;
      height: 200px;
    }
    .circle_mid {
      width: 170px;
      height: 170px;
      margin-top: 15px;
    }
    .circle_center {
      width: 156px;
      height: 156px;
      margin-top: 7px;
      position: relative;
      overflow: hidden;
      text-align: center;

      .text {
        display: none;
        text-align: center;
        width: 625px;
        max-height: 330px;
        min-height: 200px;
        padding: 0 50px;

        ul {
          list-style: none;
          margin: -5px 0 0 0;
          padding: 0;
        }

        li {
          margin: 0;

          &:after {
            content: "";
            width: 70px;
            height: 1px;
            display: block;
            margin: 5px auto;
            border-bottom: 1px dashed #444444;
          }
        }

        p {
          color: #444444;
          font-size: 16px;
          line-height: 28px;
          font-weight: 300;
        }

        a {
          color: #487277;
          font-size: 18px;
        }
      }

      button {
        width: 40%;
        margin-top: 20px;
        background: none;
        border-radius: 10px;
        font-size: 18px;
        padding: 15px 0;

        &:hover {
          box-shadow: none;
          color: white;
        }
      }

      .logo {
        .x-transition(background-color 0.3s);
        display: block;
        width: 156px;
        height: 156px;
      }
    }
    .arrow {
      .x-transition(margin 0.5s);
      background-image: url(../img/arrows.png);
      position: absolute;
      bottom: 15px;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 20px;
    }
  }

  .logo(5);
}

.circle_big {
  border: 1px solid #e9e7e7;

  &, & div{
    margin-left: auto;
    margin-right: auto;
    .x-border-radius(50%);
    .x-transition(all 0.3s);
  }
  &:hover {
    cursor: pointer;
     i {
      color: white;
      opacity: 0.5;
      padding-top: 5px;
    }
  }
  .circle_mid {
    border: 1px solid #e9e7e7;
  }
  .circle_center {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%, rgba(179,179,179,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.6)), color-stop(100%,rgba(179,179,179,0.2))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(179,179,179,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(179,179,179,0.2) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(179,179,179,0.2) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.6) 0%,rgba(179,179,179,0.2) 100%); /* W3C */

    h2, h3, h4 {
      margin: 0;
      color: #006BAF;
    }
    i {
       text-align: center;
       width: 100%;
    }
  }
}

#other {
  overflow: hidden;
}
.sementiy {
  margin: 27px;
  width: 93px;
}
.partners {
  margin-bottom: 120px;
}

#partners_pagination {

  width: 1000px;
  margin-left: -50px;
  margin-top: -110px;

  div {
    height: 50px;
    width: 30px;
    cursor: pointer;
  }

  .previous {
    background: url("../img/arrows.png") top left no-repeat;
    float: left;
  }

  .next {
    background: url("../img/arrows.png") top right no-repeat;
    float: right;
  }
}

#organizators {
  clear: both;
  height: 350px;
  h3 {
    margin: 60px;
  }
  div {
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 20px;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
    border-radius: 50%;
    .geekslab {
      width: 70%;
      margin-left: 15%;
      margin-top: 40px;
    }
    .rootua {
      width: 90%;
      margin-left: 5%;
      margin-top: 80px;
    }
    &:hover img {
      opacity: 0.7;
    }
  }
}
#contacts {

  &:before {
    .dotted-line;
    margin-bottom: -40px;
  }

  clear: both;
  .circleContacts{
    padding: 10px;
    > .circle_big {
      opacity: 1;
      padding: 10px;
      &:hover {
        cursor: default;
      }
      > .circle_mid {
        padding: 20px;

        > .circle_center {
          width: 820px;
          height: 740px;
          padding-top: 50px;
          position: relative;
          h3 {
            color: black;
            margin-top: 20px;
            margin-bottom: 50px;
          }
          #contacts_carousel {
            border-radius: 0!important;
            width: 83%;
            .stage {
              .slide {
                margin-right: 50px;
                width: 190px;
                .circle_big {
                  width: 190px;
                  height: 190px;
                  .circle_mid {
                    width: 170px;
                    height: 170px;
                    margin:10px;
                    .circle_center {
                      width: 160px;
                      height: 160px;
                      margin: 5px;
                    }
                  }
                }
                h4 {
                  margin-top: 30px;
                  margin-bottom: 10px;
                  color: black;
                }
                img {
                  width: 200px;
                  height: 200px;
                  border-radius: 50%;
                }
                p {
                  font-size: 14px;
                }
              }
            }
          }

          .pagination {
            margin-top: -240px;

            &.chevron li.previous a {
              height: 70px;
              cursor:  pointer;
              opacity: 0.4;

              &:hover {
                opacity: 1;
              };

              &:after {
                content: "";
                display: block;
                width: 17px;
                height: 70px;
                background: url(../img/arrows.png) -2px -105px no-repeat;
              }
            }
            &.chevron li.next a {
              height: 70px;
              cursor:  pointer;
              opacity: 0.4;
              &:hover {
                opacity: 1;
              };
              &:after {
                content: "";
                display: block;
                width: 17px;
                height: 70px;
                background: url(../img/arrows.png) -55px -105px no-repeat;
              }
            }
          }
          .social {
            width: 180px;
            margin: 50px auto auto;
            a {
              display: inline-block;
              float: left;
              margin: 0 10px;
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 40px;
              font-size: 26px;
              border: 1px solid #9e9e9e;
              border-radius: 50%;
              color: #9e9e9e;
              &:hover {
                cursor: pointer;
                text-decoration: none;
              }
              &.fa-facebook:hover {
                color: #3C599B ;
                border-color: #3C599B;
              }
              &.fa-twitter:hover {
                color: #55ACEE ;
                border-color: #55ACEE;
              }
              &.fa-vk:hover {
                color: #587A9E;
                border-color: #587A9E
              }
            }
          }
        }
      }
    }
  }
}
#up {

  &:before {
    .dotted-line;
    margin-top: -20px;
  }

  width: 150px;
  margin: 0 auto 50px auto;
  text-align: center;
  &:hover {
    .circle_mid {
      background-color: #0069AD;

    }
    h4 {
      color: #ffffff;
    }
    .arrow{
      background-position: -21px -44px;
      margin-top: 10px;
      margin-bottom: 25px;
      .x-transition(margin 0.5s);
    }
  }
  .circle_big {
    width: 150px;
    height: 150px;
  }
  .circle_mid {
    width: 130px;
    height: 130px;
    margin-top: 10px;
  }
  .arrow {
    .x-transition(margin 0.5s);

    margin-top: 25px;
    width: 32px;
    height: 20px;
    margin-bottom: 15px;
    background: url(../img/arrows.png) -21px -57px no-repeat;
  }
}

footer {
  font-size: 12px;
  margin-bottom: 100px;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  font-size: 14px;
  pointer-events: none;

  .x-transition(opacity 400ms ease-in);

  &:target {
    opacity:1;
    pointer-events: auto;
  }

  .wrap{
    width: 725px;
    position: relative;
    margin: 10% auto;
    background: #ffffff url("../img/graphy.png") center center repeat;

    .x-border-radius(20px);

    &:after {
      content: "";
      display: block;
    }

    .content {
      padding: 5px 20px 70px 20px;
      background: transparent url("../img/popup-footer.png") bottom center no-repeat;
      .x-border-radius(20px);
    }
  }

}

.close {
  color: #aeaeae;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 0;
  width: 24px;
  text-decoration: none !important;
  font-size: 30px;
  cursor: pointer;

  &:hover { color: #37b4de; }
}

.toph2{ margin-bottom: 0px; }


//Subscription form

.subscription {
  text-align: center;

  &:before {
    .dotted-line;
  }
}

.partners {
  &:before {
    .dotted-line;
  }

  text-align: center;
  a {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0 15px;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
    border-radius: 50%;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('//app.mailerlite.com.ua/css/bootstrap3/fonts/glyphicons-halflings-regular.eot');
  src: url('//app.mailerlite.com.ua/css/bootstrap3/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('//app.mailerlite.com.ua/css/bootstrap3/fonts/glyphicons-halflings-regular.woff') format('woff'), url('//app.mailerlite.com.ua/css/bootstrap3/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('//app.mailerlite.com.ua/css/bootstrap3/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.ml-block-form {
  .ml-field-email input {
    background: transparent;
    border: 1px solid #fdba18;
    text-align: center;
    color: #fdba18;
    width: 645px;
    font-size: 18px;
    line-height: 48px;
    height: 48px;
    font-weight: 100;
    border-radius: 5px;
    margin: 27px auto;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    .placeholder-orange() {
      font-weight: 100;
      color: #fdba18;
    }

    .x-placeholder({.placeholder-orange});
  }

  button {
    cursor: pointer;
    font-size: 24px;
    font-weight: 300;
    height: 52px;
    line-height: 52px;
    display: inline-block;
    width: auto;
    background-color: #fdba18;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0px 24px;
  }
}
