body {
  background: #ffffff url("../img/graphy.png") top center;
}
.ink-grid {
  max-width: 970px!important;
}
header {
  padding-top: 20px;
}
header .left {
  margin-right: 292px;
  padding-left: 292px;
  border-bottom: 1px solid #7e94a5;
  text-align: center;
  line-height: 47px;
}
header .left .about-link {
  font-size: 22px;
  color: #5a5a5a;
  margin: 0 0 0 -212px;
  text-decoration: none;
  font-weight: 300;
  float: left;
}
header .left .date {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #0092c6;
}
header #settings {
  float: right;
  background: url(../img/settings.png);
  width: 292px;
  height: 60px;
  margin-top: -44px;
}
header #settings .old-2014,
header #settings .old-2013 {
  font-size: 13px;
  color: #5a5a5a;
  font-weight: 200;
  display: block;
  float: left;
}
header #settings .old-2014 {
  margin-left: 40px;
}
header #settings .old-2013 {
  margin-top: 48px;
}
header #settings a {
  text-decoration: none;
  color: #5a5a5a;
}
header #settings a:hover,
header #settings a.active {
  color: #4B95C5;
}
header #settings .lang {
  list-style: none;
  margin: -21px 83px 0 0;
  padding: 0;
  float: right;
}
header #settings .lang li {
  display: inline-block;
  margin-right: 4px;
}
header #settings .lang a {
  display: inline-block;
  text-decoration: none;
  color: #5a5a5a;
  font-size: 13px;
  top: -8px;
}
header #settings .lang a:hover,
header #settings .lang a.active {
  color: #4B95C5;
}
header #settings .lang a:hover:after,
header #settings .lang a.active:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: #4B95C5;
  border-radius: 50%;
  margin: 10px auto auto;
}
#startCircle {
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: 155px;
  left: 50%;
  margin-left: -150px;
  border: 1px solid transparent;
  cursor: pointer;
}
#startCircle.animate {
  z-index: 11;
}
#startCircle:before {
  content: "";
  display: block;
  background: url("../img/dots-path.png") top center no-repeat;
  width: 1px;
  height: 133px;
  margin: 0 auto;
  margin: -150px auto 0 auto;
}
#startCircle.opened:after {
  content: "";
  display: block;
  background: url("../img/dots-lines-5.png") top center no-repeat;
  width: 571px;
  height: 328px;
  margin: -80px 0 0 -135px;
}
#startCircle .circle_big {
  width: 300px;
  height: 300px;
}
#startCircle .circle_mid {
  width: 260px;
  height: 260px;
  margin-top: 20px;
}
#startCircle .circle_center {
  width: 190px;
  height: 190px;
  margin-top: 35px;
  text-align: center;
  position: relative;
}
#startCircle .circle_center .OIW {
  display: inline-block;
  border-radius: 0;
  width: 190px;
  height: 120px;
  margin-top: 35px;
  background: url(../img/logo-OIW.png) center center no-repeat;
}
#startCircle:hover .circle_center {
  background: #006BAF;
}
#startCircle:hover .circle_center .OIW {
  background: url(../img/logo-OIW-hover.png) center center no-repeat;
}
#startCircle:hover .circle_center .arrow {
  height: 19px;
  background-position: 50px -90px;
}
#startCircle .arrow {
  width: 30px;
  height: 20px;
  background: url(../img/arrows.png) 50px -70px;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
}
#content.open {
  height: 1230px !important;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -ms-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
}
.circles {
  position: relative;
  width: 900px;
  height: 100px;
  margin-top: -100px;
}
.circles .circle {
  opacity: 0;
  position: absolute;
  top: -100px;
  left: 350px;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.circles .circle:first-child,
.circles .circle:last-child {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.circles .circle.circleOpen {
  width: 700px;
  height: 700px;
  left: 100px;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.circles .circle.circleOpen .circle_big {
  width: 700px;
  height: 700px;
}
.circles .circle.circleOpen .circle_big:hover {
  cursor: default;
}
.circles .circle.circleOpen .circle_mid {
  width: 650px;
  height: 650px;
  margin-top: 25px;
}
.circles .circle.circleOpen .circle_center {
  width: 630px;
  height: 630px;
  margin-top: 10px;
  padding-top: 20px;
  position: relative;
}
.circles .circle.circleOpen .circle_center .logo {
  display: block;
  width: 156px;
  height: 156px;
}
.circles .circle.circleOpen .arrow {
  display: none;
}
.circles .circle .circle_big {
  width: 200px;
  height: 200px;
}
.circles .circle .circle_mid {
  width: 170px;
  height: 170px;
  margin-top: 15px;
}
.circles .circle .circle_center {
  width: 156px;
  height: 156px;
  margin-top: 7px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.circles .circle .circle_center .text {
  display: none;
  text-align: center;
  width: 625px;
  max-height: 330px;
  min-height: 200px;
  padding: 0 50px;
}
.circles .circle .circle_center .text ul {
  list-style: none;
  margin: -5px 0 0 0;
  padding: 0;
}
.circles .circle .circle_center .text li {
  margin: 0;
}
.circles .circle .circle_center .text li:after {
  content: "";
  width: 70px;
  height: 1px;
  display: block;
  margin: 5px auto;
  border-bottom: 1px dashed #444444;
}
.circles .circle .circle_center .text p {
  color: #444444;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}
.circles .circle .circle_center .text a {
  color: #487277;
  font-size: 18px;
}
.circles .circle .circle_center button {
  width: 40%;
  margin-top: 20px;
  background: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 15px 0;
}
.circles .circle .circle_center button:hover {
  box-shadow: none;
  color: white;
}
.circles .circle .circle_center .logo {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: block;
  width: 156px;
  height: 156px;
}
.circles .circle .arrow {
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
  background-image: url(../img/arrows.png);
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 20px;
}
.circles .circle5 button {
  color: #a28abe;
  border-color: #a28abe;
}
.circles .circle5 button:hover {
  background-color: #a28abe !important;
}
.circles .circle5 .logo {
  background: transparent url(../img/sprite-sections.png) 0 -664px no-repeat;
}
.circles .circle5:hover .logo {
  background: transparent url(../img/sprite-sections.png) 0 -1660px no-repeat;
}
.circles .circle5.circleOpen .logo {
  background: transparent url(../img/sprite-sections.png) 0 -2656px no-repeat;
}
.circles .circle4 button {
  color: #4cc9d5;
  border-color: #4cc9d5;
}
.circles .circle4 button:hover {
  background-color: #4cc9d5 !important;
}
.circles .circle4 .logo {
  background: transparent url(../img/sprite-sections.png) 0 -498px no-repeat;
}
.circles .circle4:hover .logo {
  background: transparent url(../img/sprite-sections.png) 0 -1494px no-repeat;
}
.circles .circle4.circleOpen .logo {
  background: transparent url(../img/sprite-sections.png) 0 -2490px no-repeat;
}
.circles .circle3 button {
  color: #a3d384;
  border-color: #a3d384;
}
.circles .circle3 button:hover {
  background-color: #a3d384 !important;
}
.circles .circle3 .logo {
  background: transparent url(../img/sprite-sections.png) 0 -332px no-repeat;
}
.circles .circle3:hover .logo {
  background: transparent url(../img/sprite-sections.png) 0 -1328px no-repeat;
}
.circles .circle3.circleOpen .logo {
  background: transparent url(../img/sprite-sections.png) 0 -2324px no-repeat;
}
.circles .circle2 button {
  color: #4cabc7;
  border-color: #4cabc7;
}
.circles .circle2 button:hover {
  background-color: #4cabc7 !important;
}
.circles .circle2 .logo {
  background: transparent url(../img/sprite-sections.png) 0 -166px no-repeat;
}
.circles .circle2:hover .logo {
  background: transparent url(../img/sprite-sections.png) 0 -1162px no-repeat;
}
.circles .circle2.circleOpen .logo {
  background: transparent url(../img/sprite-sections.png) 0 -2158px no-repeat;
}
.circles .circle1 button {
  color: #4dc5b5;
  border-color: #4dc5b5;
}
.circles .circle1 button:hover {
  background-color: #4dc5b5 !important;
}
.circles .circle1 .logo {
  background: transparent url(../img/sprite-sections.png) 0 0px no-repeat;
}
.circles .circle1:hover .logo {
  background: transparent url(../img/sprite-sections.png) 0 -996px no-repeat;
}
.circles .circle1.circleOpen .logo {
  background: transparent url(../img/sprite-sections.png) 0 -1992px no-repeat;
}
.circle_big {
  border: 1px solid #e9e7e7;
}
.circle_big,
.circle_big div {
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.circle_big:hover {
  cursor: pointer;
}
.circle_big:hover i {
  color: white;
  opacity: 0.5;
  padding-top: 5px;
}
.circle_big .circle_mid {
  border: 1px solid #e9e7e7;
}
.circle_big .circle_center {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(179, 179, 179, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
  /* W3C */
}
.circle_big .circle_center h2,
.circle_big .circle_center h3,
.circle_big .circle_center h4 {
  margin: 0;
  color: #006BAF;
}
.circle_big .circle_center i {
  text-align: center;
  width: 100%;
}
#other {
  overflow: hidden;
}
.sementiy {
  margin: 27px;
  width: 93px;
}
.partners {
  margin-bottom: 120px;
}
#partners_pagination {
  width: 1000px;
  margin-left: -50px;
  margin-top: -110px;
}
#partners_pagination div {
  height: 50px;
  width: 30px;
  cursor: pointer;
}
#partners_pagination .previous {
  background: url("../img/arrows.png") top left no-repeat;
  float: left;
}
#partners_pagination .next {
  background: url("../img/arrows.png") top right no-repeat;
  float: right;
}
#organizators {
  clear: both;
  height: 350px;
}
#organizators h3 {
  margin: 60px;
}
#organizators div {
  width: 200px;
  height: 200px;
  float: left;
  margin: 0 20px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
  border-radius: 50%;
}
#organizators div .geekslab {
  width: 70%;
  margin-left: 15%;
  margin-top: 40px;
}
#organizators div .rootua {
  width: 90%;
  margin-left: 5%;
  margin-top: 80px;
}
#organizators div:hover img {
  opacity: 0.7;
}
#contacts {
  clear: both;
}
#contacts:before {
  content: "";
  display: block;
  background: url("../img/dots-path.png") top center no-repeat;
  width: 1px;
  height: 133px;
  margin: 0 auto;
  margin-bottom: -40px;
}
#contacts .circleContacts {
  padding: 10px;
}
#contacts .circleContacts > .circle_big {
  opacity: 1;
  padding: 10px;
}
#contacts .circleContacts > .circle_big:hover {
  cursor: default;
}
#contacts .circleContacts > .circle_big > .circle_mid {
  padding: 20px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center {
  width: 820px;
  height: 740px;
  padding-top: 50px;
  position: relative;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center h3 {
  color: black;
  margin-top: 20px;
  margin-bottom: 50px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center #contacts_carousel {
  border-radius: 0!important;
  width: 83%;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center #contacts_carousel .stage .slide {
  margin-right: 50px;
  width: 190px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center #contacts_carousel .stage .slide .circle_big {
  width: 190px;
  height: 190px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center #contacts_carousel .stage .slide .circle_big .circle_mid {
  width: 170px;
  height: 170px;
  margin: 10px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center #contacts_carousel .stage .slide .circle_big .circle_mid .circle_center {
  width: 160px;
  height: 160px;
  margin: 5px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center #contacts_carousel .stage .slide h4 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: black;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center #contacts_carousel .stage .slide img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center #contacts_carousel .stage .slide p {
  font-size: 14px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination {
  margin-top: -240px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination.chevron li.previous a {
  height: 70px;
  cursor: pointer;
  opacity: 0.4;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination.chevron li.previous a:hover {
  opacity: 1;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination.chevron li.previous a:after {
  content: "";
  display: block;
  width: 17px;
  height: 70px;
  background: url(../img/arrows.png) -2px -105px no-repeat;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination.chevron li.next a {
  height: 70px;
  cursor: pointer;
  opacity: 0.4;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination.chevron li.next a:hover {
  opacity: 1;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination.chevron li.next a:after {
  content: "";
  display: block;
  width: 17px;
  height: 70px;
  background: url(../img/arrows.png) -55px -105px no-repeat;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .social {
  width: 180px;
  margin: 50px auto auto;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .social a {
  display: inline-block;
  float: left;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 26px;
  border: 1px solid #9e9e9e;
  border-radius: 50%;
  color: #9e9e9e;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .social a:hover {
  cursor: pointer;
  text-decoration: none;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .social a.fa-facebook:hover {
  color: #3C599B ;
  border-color: #3C599B;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .social a.fa-twitter:hover {
  color: #55ACEE ;
  border-color: #55ACEE;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .social a.fa-vk:hover {
  color: #587A9E;
  border-color: #587a9e;
}
#up {
  width: 150px;
  margin: 0 auto 50px auto;
  text-align: center;
}
#up:before {
  content: "";
  display: block;
  background: url("../img/dots-path.png") top center no-repeat;
  width: 1px;
  height: 133px;
  margin: 0 auto;
  margin-top: -20px;
}
#up:hover .circle_mid {
  background-color: #0069AD;
}
#up:hover h4 {
  color: #ffffff;
}
#up:hover .arrow {
  background-position: -21px -44px;
  margin-top: 10px;
  margin-bottom: 25px;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
}
#up .circle_big {
  width: 150px;
  height: 150px;
}
#up .circle_mid {
  width: 130px;
  height: 130px;
  margin-top: 10px;
}
#up .arrow {
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
  margin-top: 25px;
  width: 32px;
  height: 20px;
  margin-bottom: 15px;
  background: url(../img/arrows.png) -21px -57px no-repeat;
}
footer {
  font-size: 12px;
  margin-bottom: 100px;
}
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  font-size: 14px;
  pointer-events: none;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  -ms-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog .wrap {
  width: 725px;
  position: relative;
  margin: 10% auto;
  background: #ffffff url("../img/graphy.png") center center repeat;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.modalDialog .wrap:after {
  content: "";
  display: block;
}
.modalDialog .wrap .content {
  padding: 5px 20px 70px 20px;
  background: transparent url("../img/popup-footer.png") bottom center no-repeat;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.close {
  color: #aeaeae;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 0;
  width: 24px;
  text-decoration: none !important;
  font-size: 30px;
  cursor: pointer;
}
.close:hover {
  color: #37b4de;
}
.toph2 {
  margin-bottom: 0px;
}
.subscription {
  text-align: center;
}
.subscription:before {
  content: "";
  display: block;
  background: url("../img/dots-path.png") top center no-repeat;
  width: 1px;
  height: 133px;
  margin: 0 auto;
}
.partners {
  text-align: center;
}
.partners:before {
  content: "";
  display: block;
  background: url("../img/dots-path.png") top center no-repeat;
  width: 1px;
  height: 133px;
  margin: 0 auto;
}
.partners a {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 0 15px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
  border-radius: 50%;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('//app.mailerlite.com.ua/css/bootstrap3/fonts/glyphicons-halflings-regular.eot');
  src: url('//app.mailerlite.com.ua/css/bootstrap3/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('//app.mailerlite.com.ua/css/bootstrap3/fonts/glyphicons-halflings-regular.woff') format('woff'), url('//app.mailerlite.com.ua/css/bootstrap3/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('//app.mailerlite.com.ua/css/bootstrap3/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.ml-block-form .ml-field-email input {
  background: transparent;
  border: 1px solid #fdba18;
  text-align: center;
  color: #fdba18;
  width: 645px;
  font-size: 18px;
  line-height: 48px;
  height: 48px;
  font-weight: 100;
  border-radius: 5px;
  margin: 27px auto;
}
.ml-block-form .ml-field-email input:focus {
  outline: none;
  box-shadow: none;
}
.ml-block-form .ml-field-email input::-webkit-input-placeholder {
  font-weight: 100;
  color: #fdba18;
}
.ml-block-form .ml-field-email input:-moz-placeholder {
  font-weight: 100;
  color: #fdba18;
}
.ml-block-form .ml-field-email input::-moz-placeholder {
  font-weight: 100;
  color: #fdba18;
}
.ml-block-form .ml-field-email input:-ms-input-placeholder {
  font-weight: 100;
  color: #fdba18;
}
.ml-block-form button {
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  height: 52px;
  line-height: 52px;
  display: inline-block;
  width: auto;
  background-color: #fdba18;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0px 24px;
}
