.logo-base-styles () {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 156px;
  height: 156px;
  background-repeat: no-repeat;
}

.x-transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:  @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.x-transition-delay(@time) {
  -webkit-transition-delay: @time;
  -moz-transition-delay: @time;
  -ms-transition-delay: @time;
  -o-transition-delay: @time;
  transition-delay: @time;
}

.x-keyframes (@name, @timeline) {
  @-webkit-keyframes @name { @timeline(); }
  @-moz-keyframes @name { @timeline(); }
  @-o-keyframes @name { @timeline(); }
  @keyframes @name { @timeline(); }
}

.x-animation (@animation) {
  -webkit-animation: @animation;
  -moz-animation:    @animation;
  -o-animation:      @animation;
  animation:         @animation;
}

.x-box-shadow (@options) {
  -moz-box-shadow: @options;
  -webkit-box-shadow:@options;
  box-shadow: @options;
}

.x-border-radius (@options) {
  -webkit-border-radius: @options;
  -moz-border-radius: @options;
  border-radius: @options;
}

.x-transform(@transform) {
  -moz-transform: @transform;
  -webkit-transform: @transform;
  -o-transform: @transform;
  -ms-transform: @transform;
  transform: @transform;
}

.x-placeholder(@styles) {
  &::-webkit-input-placeholder { @styles(); }
  &:-moz-placeholder { @styles(); }
  &::-moz-placeholder { @styles(); }
  &:-ms-input-placeholder { @styles(); }
}

.dotted-line() {
  content: "";
  display: block;
  background: url("../img/dots-path.png") top center no-repeat;
  width: 1px;
  height: 133px;
  margin: 0 auto;
}

@logo-colors: #4DC5B5, #4CABC7, #A3D384, #4CC9D5, #A28ABE;
.logo(@counter) when (@counter > 0) {
  .circle@{counter} {
    @current-color: extract(@logo-colors, @counter);

    button {
      color: @current-color;
      border-color: @current-color;

      &:hover {
        background-color: @current-color !important;
      }
    }

    .logo {
      background: transparent url(../img/sprite-sections.png) 0 166px * (-1 * (@counter - 1)) no-repeat;
    }

    &:hover {
      .logo {
        background: transparent url(../img/sprite-sections.png) 0 166px * (-1 * (@counter - 1)) - 996px no-repeat;
      }
    }

    &.circleOpen {
      .logo {
        background: transparent url(../img/sprite-sections.png) 0 166px * (-1 * (@counter - 1)) - 1992px no-repeat;
      }
    }
  }

  .logo((@counter - 1));
}