#startCircle.onload .circle_big {
  -webkit-animation: startPulseBig ease-in 2s;
  /* Safari 4+ */
  -moz-animation: startPulseBig ease-in 2s;
  /* Fx 5+ */
  -o-animation: startPulseBig ease-in 2s;
  /* Opera 12+ */
  animation: startPulseBig ease-in 2s;
  /* IE 10+ */
}
#startCircle:hover .circle_big {
  -webkit-animation: hoverPulseBig ease-in 0.8s;
  /* Safari 4+ */
  -moz-animation: hoverPulseBig ease-in 0.8s;
  /* Fx 5+ */
  -o-animation: hoverPulseBig ease-in 0.8s;
  /* Opera 12+ */
  animation: hoverPulseBig ease-in 0.8s;
  /* IE 10+ */
}
#startCircle.onload .circle_mid {
  -webkit-animation: startPulseMid ease-in 2s;
  /* Safari 4+ */
  -moz-animation: startPulseMid ease-in 2s;
  /* Fx 5+ */
  -o-animation: startPulseMid ease-in 2s;
  /* Opera 12+ */
  animation: startPulseMid ease-in 2s;
  /* IE 10+ */
}
#startCircle:hover .circle_mid {
  -webkit-animation: hoverPulseMid ease-in 0.8s;
  /* Safari 4+ */
  -moz-animation: hoverPulseMid ease-in 0.8s;
  /* Fx 5+ */
  -o-animation: hoverPulseMid ease-in 0.8s;
  /* Opera 12+ */
  animation: hoverPulseMid ease-in 0.8s;
  /* IE 10+ */
}
#startCircle.onload .circle_center {
  -webkit-animation: startPulseCenter ease-in 2s;
  /* Safari 4+ */
  -moz-animation: startPulseCenter ease-in 2s;
  /* Fx 5+ */
  -o-animation: startPulseCenter ease-in 2s;
  /* Opera 12+ */
  animation: startPulseCenter ease-in 2s;
  /* IE 10+ */
}
#startCircle:hover .circle_center {
  -webkit-animation: hoverPulseCenter ease-in 0.8s;
  /* Safari 4+ */
  -moz-animation: hoverPulseCenter ease-in 0.8s;
  /* Fx 5+ */
  -o-animation: hoverPulseCenter ease-in 0.8s;
  /* Opera 12+ */
  animation: hoverPulseCenter ease-in 0.8s;
  /* IE 10+ */
}
#startCircle .circle_center > h2,
#startCircle .circle_center > h3,
#startCircle .circle_center > h4,
#startCircle .circle_center > .arrow {
  -webkit-animation: textOpacity ease-in 3s;
  /* Safari 4+ */
  -moz-animation: textOpacity ease-in 3s;
  /* Fx 5+ */
  -o-animation: textOpacity ease-in 3s;
  /* Opera 12+ */
  animation: textOpacity ease-in 3s;
  /* IE 10+ */
}
.circle.animate:hover .circle_big {
  -webkit-animation: circleHoverBig ease-in 0.8s;
  /* Safari 4+ */
  -moz-animation: circleHoverBig ease-in 0.8s;
  /* Fx 5+ */
  -o-animation: circleHoverBig ease-in 0.8s;
  /* Opera 12+ */
  animation: circleHoverBig ease-in 0.8s;
  /* IE 10+ */
}
.circle.animate:hover .circle_mid {
  -webkit-animation: circleHoverMid ease-in 0.8s;
  /* Safari 4+ */
  -moz-animation: circleHoverMid ease-in 0.8s;
  /* Fx 5+ */
  -o-animation: circleHoverMid ease-in 0.8s;
  /* Opera 12+ */
  animation: circleHoverMid ease-in 0.8s;
  /* IE 10+ */
}
.circle.animate:hover .circle_center {
  -webkit-animation: circleHoverCenter ease-in 0.8s;
  /* Safari 4+ */
  -moz-animation: circleHoverCenter ease-in 0.8s;
  /* Fx 5+ */
  -o-animation: circleHoverCenter ease-in 0.8s;
  /* Opera 12+ */
  animation: circleHoverCenter ease-in 0.8s;
  /* IE 10+ */
}
@-webkit-keyframes startPulseBig {
  0% {
    width: 0;
    height: 0;
    margin-top: 250px;
  }
  100% {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }
}
@-webkit-keyframes hoverPulseBig {
  0% {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }
  50% {
    width: 240px;
    height: 240px;
    margin-top: 130px;
  }
  100% {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }
}
@-webkit-keyframes startPulseMid {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-webkit-keyframes hoverPulseMid {
  0% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
  50% {
    width: 230px;
    height: 230px;
    margin-top: 5px;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-webkit-keyframes startPulseCenter {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-webkit-keyframes hoverPulseCenter {
  0% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
  50% {
    width: 210px;
    height: 210px;
    margin-top: 10px;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-webkit-keyframes textOpacity {
  0%,
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@-webkit-keyframes circleHoverBig {
  0% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
  50% {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
}
@-webkit-keyframes circleHoverMid {
  0% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
}
@-webkit-keyframes circleHoverCenter {
  0% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
}
@-moz-keyframes startPulseBig {
  0% {
    width: 0;
    height: 0;
    margin-top: 250px;
  }
  100% {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }
}
@-moz-keyframes hoverPulseBig {
  0% {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }
  50% {
    width: 240px;
    height: 240px;
    margin-top: 130px;
  }
  100% {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }
}
@-moz-keyframes startPulseMid {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-moz-keyframes hoverPulseMid {
  0% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
  50% {
    width: 230px;
    height: 230px;
    margin-top: 5px;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-moz-keyframes startPulseCenter {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-moz-keyframes hoverPulseCenter {
  0% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
  50% {
    width: 210px;
    height: 210px;
    margin-top: 10px;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-moz-keyframes textOpacity {
  0%,
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@-moz-keyframes circleHoverBig {
  0% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
  50% {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
}
@-moz-keyframes circleHoverMid {
  0% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
}
@-moz-keyframes circleHoverCenter {
  0% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
}
@-o-keyframes startPulseBig {
  0% {
    width: 0;
    height: 0;
    margin-top: 250px;
  }
  100% {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }
}
@-o-keyframes hoverPulseBig {
  0% {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }
  50% {
    width: 240px;
    height: 240px;
    margin-top: 130px;
  }
  100% {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }
}
@-o-keyframes startPulseMid {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-o-keyframes hoverPulseMid {
  0% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
  50% {
    width: 230px;
    height: 230px;
    margin-top: 5px;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-o-keyframes startPulseCenter {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-o-keyframes hoverPulseCenter {
  0% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
  50% {
    width: 210px;
    height: 210px;
    margin-top: 10px;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-o-keyframes textOpacity {
  0%,
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@-o-keyframes circleHoverBig {
  0% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
  50% {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
}
@-o-keyframes circleHoverMid {
  0% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
}
@-o-keyframes circleHoverCenter {
  0% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
}
@-ms-keyframes startPulseBig {
  0% {
    width: 0;
    height: 0;
    margin-top: 250px;
  }
  100% {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }
}
@-ms-keyframes hoverPulseBig {
  0% {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }
  50% {
    width: 240px;
    height: 240px;
    margin-top: 130px;
  }
  100% {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }
}
@-ms-keyframes startPulseMid {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-ms-keyframes hoverPulseMid {
  0% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
  50% {
    width: 230px;
    height: 230px;
    margin-top: 5px;
  }
  100% {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
}
@-ms-keyframes startPulseCenter {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-ms-keyframes hoverPulseCenter {
  0% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
  50% {
    width: 210px;
    height: 210px;
    margin-top: 10px;
  }
  100% {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
}
@-ms-keyframes textOpacity {
  0%,
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@-ms-keyframes circleHoverBig {
  0% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
  50% {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
  }
}
@-ms-keyframes circleHoverMid {
  0% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
  }
  100% {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-left: 15px;
  }
}
@-ms-keyframes circleHoverCenter {
  0% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
  50% {
    width: 160px;
    height: 160px;
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    width: 156px;
    height: 156px;
    margin-top: 7px;
    margin-left: 7px;
  }
}
