body  {
  background: url("../img/graphy.png") #f5f5f1 top center;
}
.ink-grid {
  max-width: 970px!important;
}
header {
  padding-top: 20px;
  #menu {
    position: absolute;
    top: 45px;
    left: 45px;
    z-index: 1000;
    .fa-bars {
      color: #AEADAD;
      font-size: 30px;
      &:hover {
        color: #4B95C5;
        cursor: pointer;
      }
    }
    ul {
      list-style-type: circle;
      li {
        color: #4B95C5;
        &:hover {
          list-style-type: disc;
          a {
            text-decoration: none;
          }
        }
      }
      a {
        color: #5a5a5a;
      }
    }
  }
  #settings {
    position: absolute;
    background: url(../img/settings.png);
    width: 292px;
    height: 60px;
    right: 0;
    top: 30px;
    a {
      text-decoration: none;
      color: #5a5a5a;
      &:hover, &.active {
        color: #4B95C5;
      }
    }
    h4 {
      position: absolute;
      left: 35px;
      top: -5px;
      font-size: 18px;
    }
    h5 {
      position: absolute;
      left: 70px;
      top: 47px;
      font-size: 13px;
    }
    .lang {
      display: inline-block;
      text-decoration: none;
      color: #5a5a5a;
      font-size: 13px;
      top: -8px;
      &:hover, &.active {
        color: #4B95C5;
        .circleMini {
          display: block;
        }
      }
      &.en {
        left:117px;
      }
      &.ru {
        left:152px;
      }
      &.ua {
        left:182px;
      }
      position: absolute;
      .circleMini {
        width: 5px;
        height: 5px;
        background: #4B95C5;
        border-radius: 50%;
        margin: auto;
        margin-top: 10px;
        display: none;
      }
    }
  }
}
#startCircle {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -150px;
  z-index: 1000;
  .circle_big {
    width: 300px;
    height: 300px;
    margin-top: 100px
  }
  &:hover  .circle_center{
    h2, h3, h4 {
      color: white;
    }
    background: #006BAF;
    .arrow {
      margin-top: 10px;
      background-position: 50px -90px;
    }
  }
  .circle_mid {
    width: 260px;
    height: 260px;
    margin-top: 20px;
  }
  .circle_center {
    width: 190px;
    height: 190px;
    margin-top: 35px;
  }
  h2 { font-size: 35px; padding-top: 30px}
  h3 { font-size: 23px}
  h4 { font-size: 50px; margin-top: -3px}
  .arrow {
    margin-top: -5px;
    width: 30px;
    height: 20px;
    background-position: 50px -70px;
    -webkit-transition: margin 0.5s;
    -moz-transition:  margin 0.5s;
    -ms-transition: margin 0.5s;
    -o-transition: margin 0.5s;
    transition: margin 0.5s;
    background-image: url(../img/arrows.png);
  }
}
.GeeksLab-Hackathon, .master-class, .meropriatia-partner, .Web-Camp-logo, .StartUP-club {
  &.circleOpen:hover .logo {
    background-color: transparent;
  }
}
.GeeksLab-Hackathon{
  .logo, &.circleOpen:hover .logo{
    background-position: -11px -36px;
  }
  .arrow {
    background-position: 50px -162px;
  }
  &:hover .logo {
    background-color: #FFB200;
    background-position: -188px -35px;
  }
  button {
    border-color: #ffb400;
    color: #ffb400;
    &:hover {
      background-color: #ffb400!important;
      border-color: #ffb400!important;
    }
  }
}

.master-class {
  .logo, &.circleOpen:hover .logo {
    background-position: -385px -13px ;
  }
  .arrow {
    background-position: 50px -132px;
  }
  &:hover .logo{
    background-color: #00BED5;
    background-position: -573px -12px;
  }
  button {
    border-color: #00BED5;
    color: #00BED5;
    &:hover {
      background-color: #00BED5!important;
      border-color: #00BED5!important;
    }
  }
  .text {
    margin-top: -70px;
    b {
      margin-top: 15px;
    }
    a {
      font-size: 16px;
    }
  }
}

.meropriatia-partner{
  .logo, &.circleOpen:hover .logo {
    background-position: -14px -198px;
  }
  .arrow {
    background-position: 50px -117px;
  }
  &:hover .logo {
    background-color: #00B29F;
    background-position: -189px -199px;
  }
  button {
    border-color: #00B29F;
    color: #00B29F;
    &:hover {
      background-color: #00B29F!important;
      border-color: #00B29F!important;
    }
  }
}

.Web-Camp-logo{
  .logo, &.circleOpen:hover .logo {
    background-position: -402px -193px;
  }
  .arrow {
    background-position: 50px -149px;
  }
  &:hover .logo{
    background-color: #8B41C1;
    background-position: -582px -193px;
  }
  button {
    margin-top: 0!important;
    border-color: #8B41C1;
    color: #8B41C1;
    &:hover {
      background-color: #8B41C1!important;
      border-color: #8B41C1!important;
    }
  }
  .text {
    margin-top: -40px;
  }

}

.StartUP-club{
  .logo, &.circleOpen:hover .logo {
    background-position: -12px -318px;
  }
  .arrow {
    background-position: 50px -103px;
  }
  &:hover .logo {
    background-color: #A5C500;
    background-position: -186px -318px;
  }
  button {
    border-color: #A5C500;
    color: #A5C500;
    &:hover {
      background-color: #A5C500!important;
      border-color: #A5C500!important;
    }
  }
}

.circles {
  position: relative;
  width: 900px;
  height: 250px;
  top: 310px;
  .circle {
    opacity: 0;
    position: absolute;
    -webkit-transition: width, height, opacity 0.3s;
    -moz-transition: width, height, opacity 0.3s;
    -ms-transition: width, height, opacity 0.3s;
    -o-transition: width, height, opacity  0.3s;
    transition: width, height, opacity  0.3s;
    &:first-child, &:last-child {
      -moz-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -o-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
    &.circle1 {
      top: -100px;
      left: 350px;
    }
    &.circle2 {
      //top: 180px;
      //left: 130px;
      top: -100px;
      left: 350px;
    }
    &.circle3 {
      //top: 270px;
      //left: 350px;
      top: -100px;
      left: 350px;
    }
    &.circle4 {
      //top: 180px;
      //left: 570px;
      top: -100px;
      left: 350px;
    }
    &.circle5 {
      //top: 0;
      //left: 700px;
      top: -100px;
      left: 350px;
    }
    &.circleOpen{
      &:first-child, &:last-child {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
      width: 700px;
      height: 700px;
      left: 100px;
      top: 330px;
      .circle_big {
        width: 700px;
        height: 700px;
        &:hover {
          cursor: default;
        }
      }
      .circle_mid {
        width: 650px;
        height: 650px;
        margin-top: 25px;
      }
      .circle_center {
        width: 630px;
        height: 630px;
        margin-top: 10px;
        padding-top: 20px;
        position: relative;
        .logo {
          &:hover {
            background-color: none ;
          }
          width: 156px;
          height: 156px;
        }
      }
      .arrow{
        display: none
      }
    }
    &:hover .arrow {
      bottom: 15px;
      background-position: 50px -90px;
    }
    .circle_big {
      width: 200px;
      height: 200px;
    }
    .circle_mid {
      width: 170px;
      height: 170px;
      margin-top: 15px;
    }
    .circle_center {
      width: 156px;
      height: 156px;
      margin-top: 7px;
      position: relative;
      .text {
        display: none;
        text-align: center;
        padding: 0 50px;
        h5 {
          margin-top: 10px;
          margin-bottom: 0;
          font-size: 18px;
        }
        p {
          margin: 50px 0 30px 0;
          font-size: 14px;
          line-height: 24px;
        }
        a {
          color: #487277;
          font-size: 18px;
        }
        button {
          width: 40%;
          margin-top: 20px;
          background: none;
          border-radius: 10px;
          font-size: 18px;
          padding: 15px 0;
          &:hover {
            box-shadow: none;
            color: white;
          }
        }
        .days {
          margin-top: 20px;
          .day {
            width: 33%;
            height: 170px;
            float: left;
            a {
              color: #4993C3!important;
              font-size: 13px;
            }
            &:nth-child(4) {
              margin-left: 15%;
            }
            .Designers-Day{
              background-position: 7px -153px;
            }
            .Developers-Day{
              background-position: 7px -101px;
            }
            .Internet-Marketing-Day{
              background-position: 8px -204px;
            }
            .Mobile-Day{
              background-position: 6px -50px;
            }
            .Project-Management-Day{
              background-position: 5px 0;
            }
            .dayLogo {
              width: 100%;
              height: 50px;
              background-image: url(../img/days.png);
              background-repeat: no-repeat;
              border-radius: 0;
            }
            p {
              margin-top: 4px;
              margin-bottom: 0;
              font-size: 12px;
              line-height: 14px;
              color: #0a293b;
            }
          }
        }
      }
      .logo {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        transition: background-color 0.3s;
        width: 156px;
        height: 156px;
        background-image: url(../img/sprites.png);
        background-repeat:  no-repeat;
      }
    }
    .arrow {
      -webkit-transition: margin 0.5s;
      -moz-transition: margin 0.5s;
      -ms-transition: margin 0.5s;
      -o-transition: margin 0.5s;
      transition: margin 0.5s;
      background-image: url(../img/arrows.png);
      position: absolute;
      bottom: 15px;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 20px;
    }
  }
}
.circle_big {
  opacity: 0.7;
  border: 1px solid #e9e7e7;
  //box-shadow: 0 0 5px 1px rgba(149,149,149,0.1);
  &, & div{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  &:hover {
    cursor: pointer;
     i {
      color: white;
      opacity: 0.5;
      padding-top: 5px;
    }
  }
  .circle_mid {
    border: 1px solid #e9e7e7;
  }
  .circle_center {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%, rgba(179,179,179,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.6)), color-stop(100%,rgba(179,179,179,0.2))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(179,179,179,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(179,179,179,0.2) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(179,179,179,0.2) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.6) 0%,rgba(179,179,179,0.2) 100%); /* W3C */

    h2, h3, h4 {
      margin: 0;
      color: #006BAF;
    }
    i {
       text-align: center;
       width: 100%;
    }
  }
}

#other {
  margin-top: 700px;
  overflow: hidden;
}
#partners, #sponsors {
  h3 {
    margin-bottom: 60px;
  }
  .ink-carousel {
    width: 84%;
    margin: 0 8%;
  }
  .slide {
    width: 90px;
    height: 90px;
    margin: 0 10px;
    background: white;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      img {
        opacity: 0.7;
      }
    }
  }
  #partners_pagination, #sponsors_pagination  {
    margin-top: -100px;
    margin-bottom: 200px;
    .chevron li.previous a {
      height: 56x;
      cursor:  pointer;
      opacity: 0.4;
      &:hover {
        opacity: 1;
      };
      &:after {
        content: "";
        display: block;
        width: 17px;
        height: 56px;
        background-image: url(../img/arrows.png);
        background-position: -5px 0px;
        margin-top: -100px;
      }
    }
    .chevron li.next a {
      height: 56x;
      cursor:  pointer;
      opacity: 0.4;
      &:hover {
        opacity: 1;
      };
      &:after {
        content: "";
        display: block;
        width: 17px;
        height: 56px;
        background-image: url(../img/arrows.png);
        background-position: 21px 0px;
        margin-top: -100px;
      }
    }
  }
}
#organizators {
  clear: both;
  height: 400px;
  h3 {
    margin: 60px;
  }
  div {
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 20px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    .geekslab {
      width: 70%;
      margin-left: 15%;
      margin-top: 40px;
    }
    .rootua {
      width: 90%;
      margin-left: 5%;
      margin-top: 80px;
    }
    &:hover img {
      opacity: 0.7;
    }
  }
}
#contacts {
  clear: both;
  padding-top: 80px;
  .circleContacts{
    width: 900px;
    height: 900px;
    > .circle_big {
      opacity: 1;
      width: 800px;
      height: 800px;
      &:hover {
        cursor: default;
      }
      > .circle_mid {
        width: 680px;
        height: 680px;
        margin-top: 60px;
        > .circle_center {
          width: 630px;
          height: 630px;
          margin-top: 25px;
          padding-top: 20px;
          position: relative;
          h3 {
            color: black;
            margin-top: 20px;
          }
          .ink-carousel {
            border-radius: 0!important;
            width: 70%;
            margin: 0 15%;
            margin-top: 40px;
            .stage {
              .slide {
                margin-right: 50px;
                width: 190px;
                .circle_big {
                  width: 190px;
                  height: 190px;
                  .circle_mid {
                    width: 170px;
                    height: 170px;
                    margin:10px;
                    .circle_center {
                      width: 160px;
                      height: 160px;
                      margin: 5px;
                    }
                  }
                }
                h4 {
                  margin-top: 30px;
                  margin-bottom: 10px;
                  color: black;
                }
                img {
                  width: 200px;
                  height: 200px;
                  border-radius: 50%;
                }
                p {
                  font-size: 14px;
                }
              }
            }
          }
          .pagination {
            margin-top: -240px;
            &.chevron li.previous a {
              height: 70px;
              cursor:  pointer;
              opacity: 0.4;
              &:hover {
                opacity: 1;
              };
              &:after {
                content: "";
                display: block;
                width: 17px;
                height: 70px;
                background-image: url(../img/arrows.png);
                background-position: -2px -105px;
                margin-top: -100px;
              }
            }
            &.chevron li.next a {
              height: 70px;
              cursor:  pointer;
              opacity: 0.4;
              &:hover {
                opacity: 1;
              };
              &:after {
                content: "";
                display: block;
                width: 17px;
                height: 70px;
                background-image: url(../img/arrows.png);
                background-position: 17px -105px;
                margin-top: -100px;
              }
            }
          }
          .social {
            width: 180px;
            margin: auto;
            margin-top: 300px;
            a {
              display: inline-block;
              float: left;
              margin: 0 10px;
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 40px;
              font-size: 26px;
              border: 1px solid #9e9e9e;
              border-radius: 50%;
              color: #9e9e9e;
              &:hover {
                cursor: pointer;
                text-decoration: none;
              }
              &.fa-facebook:hover {
                color: #3C599B ;
                border-color: #3C599B;
              }
              &.fa-twitter:hover {
                color: #55ACEE ;
                border-color: #55ACEE;
              }
              &.fa-vk:hover {
                color: #587A9E;
                border-color: #587A9E
              }
            }
          }
        }
      }
    }
  }
}
#up {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  &:hover {
    .circle_mid {
      background-color: #0069AD;

    }
    h4 {
      color: white
    }
    .arrow{
      background-position: -21px -44px;
      margin-top: 10px;
      margin-bottom: 25px;
      -webkit-transition: margin 0.5s;
      -moz-transition: margin 0.5s;
      -ms-transition: margin 0.5s;
      -o-transition: margin 0.5s;
      transition: margin 0.5s;
    }
  }
  .circle_big {
    width: 150px;
    height: 150px;
  }
  .circle_mid {
    width: 130px;
    height: 130px;
    margin-top: 10px;
  }
  .arrow {
    -webkit-transition: margin 0.5s;
    -moz-transition: margin 0.5s;
    -ms-transition: margin 0.5s;
    -o-transition: margin 0.5s;
    transition: margin 0.5s;
    background-image: url(../img/arrows.png);
    margin-top: 25px;
    width: 32px;
    height: 20px;
    margin-bottom: 15px;
    background-position: -21px -57px;
  }
}
footer {
  font-size: 12px;
  margin-bottom: 100px;
}