body {
  background: url("../img/graphy.png") #f5f5f1 top center;
}
.ink-grid {
  max-width: 970px!important;
}
header {
  padding-top: 20px;
}
header #menu {
  position: absolute;
  top: 45px;
  left: 45px;
  z-index: 1000;
}
header #menu .fa-bars {
  color: #AEADAD;
  font-size: 30px;
}
header #menu .fa-bars:hover {
  color: #4B95C5;
  cursor: pointer;
}
header #menu ul {
  list-style-type: circle;
}
header #menu ul li {
  color: #4B95C5;
}
header #menu ul li:hover {
  list-style-type: disc;
}
header #menu ul li:hover a {
  text-decoration: none;
}
header #menu ul a {
  color: #5a5a5a;
}
header #settings {
  position: absolute;
  background: url(../img/settings.png);
  width: 292px;
  height: 60px;
  right: 0;
  top: 30px;
}
header #settings a {
  text-decoration: none;
  color: #5a5a5a;
}
header #settings a:hover,
header #settings a.active {
  color: #4B95C5;
}
header #settings h4 {
  position: absolute;
  left: 35px;
  top: -5px;
  font-size: 18px;
}
header #settings h5 {
  position: absolute;
  left: 70px;
  top: 47px;
  font-size: 13px;
}
header #settings .lang {
  display: inline-block;
  text-decoration: none;
  color: #5a5a5a;
  font-size: 13px;
  top: -8px;
  position: absolute;
}
header #settings .lang:hover,
header #settings .lang.active {
  color: #4B95C5;
}
header #settings .lang:hover .circleMini,
header #settings .lang.active .circleMini {
  display: block;
}
header #settings .lang.en {
  left: 117px;
}
header #settings .lang.ru {
  left: 152px;
}
header #settings .lang.ua {
  left: 182px;
}
header #settings .lang .circleMini {
  width: 5px;
  height: 5px;
  background: #4B95C5;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
  display: none;
}
#startCircle {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -150px;
  z-index: 1000;
}
#startCircle .circle_big {
  width: 300px;
  height: 300px;
  margin-top: 100px;
}
#startCircle:hover .circle_center {
  background: #006BAF;
}
#startCircle:hover .circle_center h2,
#startCircle:hover .circle_center h3,
#startCircle:hover .circle_center h4 {
  color: white;
}
#startCircle:hover .circle_center .arrow {
  margin-top: 10px;
  background-position: 50px -90px;
}
#startCircle .circle_mid {
  width: 260px;
  height: 260px;
  margin-top: 20px;
}
#startCircle .circle_center {
  width: 190px;
  height: 190px;
  margin-top: 35px;
}
#startCircle h2 {
  font-size: 35px;
  padding-top: 30px;
}
#startCircle h3 {
  font-size: 23px;
}
#startCircle h4 {
  font-size: 50px;
  margin-top: -3px;
}
#startCircle .arrow {
  margin-top: -5px;
  width: 30px;
  height: 20px;
  background-position: 50px -70px;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
  background-image: url(../img/arrows.png);
}
.GeeksLab-Hackathon.circleOpen:hover .logo,
.master-class.circleOpen:hover .logo,
.meropriatia-partner.circleOpen:hover .logo,
.Web-Camp-logo.circleOpen:hover .logo,
.StartUP-club.circleOpen:hover .logo {
  background-color: transparent;
}
.GeeksLab-Hackathon .logo,
.GeeksLab-Hackathon.circleOpen:hover .logo {
  background-position: -11px -36px;
}
.GeeksLab-Hackathon .arrow {
  background-position: 50px -162px;
}
.GeeksLab-Hackathon:hover .logo {
  background-color: #FFB200;
  background-position: -188px -35px;
}
.GeeksLab-Hackathon button {
  border-color: #ffb400;
  color: #ffb400;
}
.GeeksLab-Hackathon button:hover {
  background-color: #ffb400!important;
  border-color: #ffb400!important;
}
.master-class .logo,
.master-class.circleOpen:hover .logo {
  background-position: -385px -13px;
}
.master-class .arrow {
  background-position: 50px -132px;
}
.master-class:hover .logo {
  background-color: #00BED5;
  background-position: -573px -12px;
}
.master-class button {
  border-color: #00BED5;
  color: #00BED5;
}
.master-class button:hover {
  background-color: #00BED5!important;
  border-color: #00BED5!important;
}
.master-class .text {
  margin-top: -70px;
}
.master-class .text b {
  margin-top: 15px;
}
.master-class .text a {
  font-size: 16px;
}
.meropriatia-partner .logo,
.meropriatia-partner.circleOpen:hover .logo {
  background-position: -14px -198px;
}
.meropriatia-partner .arrow {
  background-position: 50px -117px;
}
.meropriatia-partner:hover .logo {
  background-color: #00B29F;
  background-position: -189px -199px;
}
.meropriatia-partner button {
  border-color: #00B29F;
  color: #00B29F;
}
.meropriatia-partner button:hover {
  background-color: #00B29F!important;
  border-color: #00B29F!important;
}
.Web-Camp-logo .logo,
.Web-Camp-logo.circleOpen:hover .logo {
  background-position: -402px -193px;
}
.Web-Camp-logo .arrow {
  background-position: 50px -149px;
}
.Web-Camp-logo:hover .logo {
  background-color: #8B41C1;
  background-position: -582px -193px;
}
.Web-Camp-logo button {
  margin-top: 0!important;
  border-color: #8B41C1;
  color: #8B41C1;
}
.Web-Camp-logo button:hover {
  background-color: #8B41C1!important;
  border-color: #8B41C1!important;
}
.Web-Camp-logo .text {
  margin-top: -40px;
}
.StartUP-club .logo,
.StartUP-club.circleOpen:hover .logo {
  background-position: -12px -318px;
}
.StartUP-club .arrow {
  background-position: 50px -103px;
}
.StartUP-club:hover .logo {
  background-color: #A5C500;
  background-position: -186px -318px;
}
.StartUP-club button {
  border-color: #A5C500;
  color: #A5C500;
}
.StartUP-club button:hover {
  background-color: #A5C500!important;
  border-color: #A5C500!important;
}
.circles {
  position: relative;
  width: 900px;
  height: 250px;
  top: 310px;
}
.circles .circle {
  opacity: 0;
  position: absolute;
  -webkit-transition: width, height, opacity 0.3s;
  -moz-transition: width, height, opacity 0.3s;
  -ms-transition: width, height, opacity 0.3s;
  -o-transition: width, height, opacity  0.3s;
  transition: width, height, opacity  0.3s;
}
.circles .circle:first-child,
.circles .circle:last-child {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.circles .circle.circle1 {
  top: -100px;
  left: 350px;
}
.circles .circle.circle2 {
  top: -100px;
  left: 350px;
}
.circles .circle.circle3 {
  top: -100px;
  left: 350px;
}
.circles .circle.circle4 {
  top: -100px;
  left: 350px;
}
.circles .circle.circle5 {
  top: -100px;
  left: 350px;
}
.circles .circle.circleOpen {
  width: 700px;
  height: 700px;
  left: 100px;
  top: 330px;
}
.circles .circle.circleOpen:first-child,
.circles .circle.circleOpen:last-child {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.circles .circle.circleOpen .circle_big {
  width: 700px;
  height: 700px;
}
.circles .circle.circleOpen .circle_big:hover {
  cursor: default;
}
.circles .circle.circleOpen .circle_mid {
  width: 650px;
  height: 650px;
  margin-top: 25px;
}
.circles .circle.circleOpen .circle_center {
  width: 630px;
  height: 630px;
  margin-top: 10px;
  padding-top: 20px;
  position: relative;
}
.circles .circle.circleOpen .circle_center .logo {
  width: 156px;
  height: 156px;
}
.circles .circle.circleOpen .circle_center .logo:hover {
  background-color: none ;
}
.circles .circle.circleOpen .arrow {
  display: none;
}
.circles .circle:hover .arrow {
  bottom: 15px;
  background-position: 50px -90px;
}
.circles .circle .circle_big {
  width: 200px;
  height: 200px;
}
.circles .circle .circle_mid {
  width: 170px;
  height: 170px;
  margin-top: 15px;
}
.circles .circle .circle_center {
  width: 156px;
  height: 156px;
  margin-top: 7px;
  position: relative;
}
.circles .circle .circle_center .text {
  display: none;
  text-align: center;
  padding: 0 50px;
}
.circles .circle .circle_center .text h5 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 18px;
}
.circles .circle .circle_center .text p {
  margin: 50px 0 30px 0;
  font-size: 14px;
  line-height: 24px;
}
.circles .circle .circle_center .text a {
  color: #487277;
  font-size: 18px;
}
.circles .circle .circle_center .text button {
  width: 40%;
  margin-top: 20px;
  background: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 15px 0;
}
.circles .circle .circle_center .text button:hover {
  box-shadow: none;
  color: white;
}
.circles .circle .circle_center .text .days {
  margin-top: 20px;
}
.circles .circle .circle_center .text .days .day {
  width: 33%;
  height: 170px;
  float: left;
}
.circles .circle .circle_center .text .days .day a {
  color: #4993C3!important;
  font-size: 13px;
}
.circles .circle .circle_center .text .days .day:nth-child(4) {
  margin-left: 15%;
}
.circles .circle .circle_center .text .days .day .Designers-Day {
  background-position: 7px -153px;
}
.circles .circle .circle_center .text .days .day .Developers-Day {
  background-position: 7px -101px;
}
.circles .circle .circle_center .text .days .day .Internet-Marketing-Day {
  background-position: 8px -204px;
}
.circles .circle .circle_center .text .days .day .Mobile-Day {
  background-position: 6px -50px;
}
.circles .circle .circle_center .text .days .day .Project-Management-Day {
  background-position: 5px 0;
}
.circles .circle .circle_center .text .days .day .dayLogo {
  width: 100%;
  height: 50px;
  background-image: url(../img/days.png);
  background-repeat: no-repeat;
  border-radius: 0;
}
.circles .circle .circle_center .text .days .day p {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 14px;
  color: #0a293b;
}
.circles .circle .circle_center .logo {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 156px;
  height: 156px;
  background-image: url(../img/sprites.png);
  background-repeat: no-repeat;
}
.circles .circle .arrow {
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
  background-image: url(../img/arrows.png);
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 20px;
}
.circle_big {
  opacity: 0.7;
  border: 1px solid #e9e7e7;
}
.circle_big,
.circle_big div {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.circle_big:hover {
  cursor: pointer;
}
.circle_big:hover i {
  color: white;
  opacity: 0.5;
  padding-top: 5px;
}
.circle_big .circle_mid {
  border: 1px solid #e9e7e7;
}
.circle_big .circle_center {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(179, 179, 179, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.6) 0%, rgba(179, 179, 179, 0.2) 100%);
  /* W3C */
}
.circle_big .circle_center h2,
.circle_big .circle_center h3,
.circle_big .circle_center h4 {
  margin: 0;
  color: #006BAF;
}
.circle_big .circle_center i {
  text-align: center;
  width: 100%;
}
#other {
  margin-top: 700px;
  overflow: hidden;
}
#partners h3,
#sponsors h3 {
  margin-bottom: 60px;
}
#partners .ink-carousel,
#sponsors .ink-carousel {
  width: 84%;
  margin: 0 8%;
}
#partners .slide,
#sponsors .slide {
  width: 90px;
  height: 90px;
  margin: 0 10px;
  background: white;
  border-radius: 50%;
}
#partners .slide:hover,
#sponsors .slide:hover {
  cursor: pointer;
}
#partners .slide:hover img,
#sponsors .slide:hover img {
  opacity: 0.7;
}
#partners #partners_pagination,
#sponsors #partners_pagination,
#partners #sponsors_pagination,
#sponsors #sponsors_pagination {
  margin-top: -100px;
  margin-bottom: 200px;
}
#partners #partners_pagination .chevron li.previous a,
#sponsors #partners_pagination .chevron li.previous a,
#partners #sponsors_pagination .chevron li.previous a,
#sponsors #sponsors_pagination .chevron li.previous a {
  height: 56x;
  cursor: pointer;
  opacity: 0.4;
}
#partners #partners_pagination .chevron li.previous a:hover,
#sponsors #partners_pagination .chevron li.previous a:hover,
#partners #sponsors_pagination .chevron li.previous a:hover,
#sponsors #sponsors_pagination .chevron li.previous a:hover {
  opacity: 1;
}
#partners #partners_pagination .chevron li.previous a:after,
#sponsors #partners_pagination .chevron li.previous a:after,
#partners #sponsors_pagination .chevron li.previous a:after,
#sponsors #sponsors_pagination .chevron li.previous a:after {
  content: "";
  display: block;
  width: 17px;
  height: 56px;
  background-image: url(../img/arrows.png);
  background-position: -5px 0px;
  margin-top: -100px;
}
#partners #partners_pagination .chevron li.next a,
#sponsors #partners_pagination .chevron li.next a,
#partners #sponsors_pagination .chevron li.next a,
#sponsors #sponsors_pagination .chevron li.next a {
  height: 56x;
  cursor: pointer;
  opacity: 0.4;
}
#partners #partners_pagination .chevron li.next a:hover,
#sponsors #partners_pagination .chevron li.next a:hover,
#partners #sponsors_pagination .chevron li.next a:hover,
#sponsors #sponsors_pagination .chevron li.next a:hover {
  opacity: 1;
}
#partners #partners_pagination .chevron li.next a:after,
#sponsors #partners_pagination .chevron li.next a:after,
#partners #sponsors_pagination .chevron li.next a:after,
#sponsors #sponsors_pagination .chevron li.next a:after {
  content: "";
  display: block;
  width: 17px;
  height: 56px;
  background-image: url(../img/arrows.png);
  background-position: 21px 0px;
  margin-top: -100px;
}
#organizators {
  clear: both;
  height: 400px;
}
#organizators h3 {
  margin: 60px;
}
#organizators div {
  width: 200px;
  height: 200px;
  float: left;
  margin: 0 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
#organizators div .geekslab {
  width: 70%;
  margin-left: 15%;
  margin-top: 40px;
}
#organizators div .rootua {
  width: 90%;
  margin-left: 5%;
  margin-top: 80px;
}
#organizators div:hover img {
  opacity: 0.7;
}
#contacts {
  clear: both;
  padding-top: 80px;
}
#contacts .circleContacts {
  width: 900px;
  height: 900px;
}
#contacts .circleContacts > .circle_big {
  opacity: 1;
  width: 800px;
  height: 800px;
}
#contacts .circleContacts > .circle_big:hover {
  cursor: default;
}
#contacts .circleContacts > .circle_big > .circle_mid {
  width: 680px;
  height: 680px;
  margin-top: 60px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center {
  width: 630px;
  height: 630px;
  margin-top: 25px;
  padding-top: 20px;
  position: relative;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center h3 {
  color: black;
  margin-top: 20px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .ink-carousel {
  border-radius: 0!important;
  width: 70%;
  margin: 0 15%;
  margin-top: 40px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .ink-carousel .stage .slide {
  margin-right: 50px;
  width: 190px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .ink-carousel .stage .slide .circle_big {
  width: 190px;
  height: 190px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .ink-carousel .stage .slide .circle_big .circle_mid {
  width: 170px;
  height: 170px;
  margin: 10px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .ink-carousel .stage .slide .circle_big .circle_mid .circle_center {
  width: 160px;
  height: 160px;
  margin: 5px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .ink-carousel .stage .slide h4 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: black;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .ink-carousel .stage .slide img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .ink-carousel .stage .slide p {
  font-size: 14px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination {
  margin-top: -240px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination.chevron li.previous a {
  height: 70px;
  cursor: pointer;
  opacity: 0.4;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination.chevron li.previous a:hover {
  opacity: 1;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination.chevron li.previous a:after {
  content: "";
  display: block;
  width: 17px;
  height: 70px;
  background-image: url(../img/arrows.png);
  background-position: -2px -105px;
  margin-top: -100px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination.chevron li.next a {
  height: 70px;
  cursor: pointer;
  opacity: 0.4;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination.chevron li.next a:hover {
  opacity: 1;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .pagination.chevron li.next a:after {
  content: "";
  display: block;
  width: 17px;
  height: 70px;
  background-image: url(../img/arrows.png);
  background-position: 17px -105px;
  margin-top: -100px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .social {
  width: 180px;
  margin: auto;
  margin-top: 300px;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .social a {
  display: inline-block;
  float: left;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 26px;
  border: 1px solid #9e9e9e;
  border-radius: 50%;
  color: #9e9e9e;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .social a:hover {
  cursor: pointer;
  text-decoration: none;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .social a.fa-facebook:hover {
  color: #3C599B ;
  border-color: #3C599B;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .social a.fa-twitter:hover {
  color: #55ACEE ;
  border-color: #55ACEE;
}
#contacts .circleContacts > .circle_big > .circle_mid > .circle_center .social a.fa-vk:hover {
  color: #587A9E;
  border-color: #587a9e;
}
#up {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}
#up:hover .circle_mid {
  background-color: #0069AD;
}
#up:hover h4 {
  color: #ffffff;
}
#up:hover .arrow {
  background-position: -21px -44px;
  margin-top: 10px;
  margin-bottom: 25px;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
}
#up .circle_big {
  width: 150px;
  height: 150px;
}
#up .circle_mid {
  width: 130px;
  height: 130px;
  margin-top: 10px;
}
#up .arrow {
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
  background-image: url(../img/arrows.png);
  margin-top: 25px;
  width: 32px;
  height: 20px;
  margin-bottom: 15px;
  background-position: -21px -57px;
}
footer {
  font-size: 12px;
  margin-bottom: 100px;
}
