html,
body {
  background: url("../img/bg-head.png") top center repeat;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.header {
  padding: 80px 0 0 0;
  height: 360px;
  background: url("../img/bg-circles-2.png") top center no-repeat;
}
.header .menu-sections {
  background: url("../img/bg-lines-top-left.png") 70px 60px no-repeat;
  width: 433px;
  height: 410px;
  position: absolute;
  top: 0;
  left: 0;
}
.header .menu-sections .home {
  margin-top: -90px;
  display: block;
  margin-left: -85px;
  width: 295px;
  height: 295px;
}
.header .menu-sections .section {
  background: url("../img/bg-sections-menu-item.png") top center no-repeat;
  width: 132px;
  height: 132px;
  display: block;
  position: absolute;
}
.header .menu-sections .section:after {
  content: "";
  display: block;
  width: 132px;
  height: 132px;
}
.header .menu-sections .partners {
  top: 10px;
  left: 300px;
}
.header .menu-sections .partners:after {
  background: url("../../img/sprite-sections.png") 16px -1605px no-repeat;
  background-size: 77%;
}
.header .menu-sections .startup {
  top: 137px;
  left: 240px;
}
.header .menu-sections .startup:after {
  background: url("../../img/sprite-sections.png") 16px -1500px no-repeat;
  background-size: 77%;
}
.header .menu-sections .business {
  top: 226px;
  left: 136px;
}
.header .menu-sections .business:after {
  background: url("../../img/sprite-sections.png") 16px -1285px no-repeat;
  background-size: 77%;
}
.header .menu-sections .esoc {
  top: 269px;
  left: 3px;
}
.header .menu-sections .esoc:after {
  background: url("../../img/sprite-sections.png") 16px -1714px no-repeat;
  background-size: 77%;
}
.header .menu-sections .tech {
  top: 226px;
  left: 136px;
}
.header .menu-sections .tech:after {
  background: url("../../img/sprite-sections.png") 15px -1388px no-repeat;
  background-size: 77%;
}
.header .logo {
  display: block;
  width: 278px;
  height: 278px;
  margin: 0 auto;
  text-align: center;
}
.table-wrap {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.table-wrap table {
  border-collapse: collapse;
  width: 100%;
}
.table-wrap th {
  padding: 9px 0;
  text-align: center;
  border: 1px dashed #a5a5a5;
  border-top: 1px dashed #a5a5a5;
  border-bottom: 1px dashed #a5a5a5;
  font-size: 18px;
  font-weight: 100;
}
.table-wrap th span {
  font-size: 36px;
  margin-right: 10px;
  font-weight: 300;
  line-height: 36px;
}
.table-wrap th:first-child {
  border-left: none;
}
.table-wrap tr:last-child td {
  padding-bottom: 150px;
}
.table-wrap td {
  border-left: 1px dashed #a5a5a5;
  border-bottom: 1px dashed #a5a5a5;
  padding: 0;
  vertical-align: top;
  width: 220px;
}
.table-wrap td:first-child {
  border-left: none;
}
.table-wrap td .orange {
  color: #d2784b;
}
.table-wrap td .violet {
  color: #745998;
}
.table-wrap td .dark-green {
  color: #546c71;
}
.table-wrap td .dark-blue {
  color: #3e668d;
}
.table-wrap td .blue {
  color: #3f92c9;
}
.table-wrap td .green {
  color: #3a9f8b;
}
.table-wrap td .label {
  padding: 12px 42px 4px 42px;
  margin-bottom: 10px;
}
.table-wrap td .label.violet {
  background: #745998;
}
.table-wrap td .label.orange {
  background: #d2784b;
}
.table-wrap td .label.dark-green {
  background: #546c71;
}
.table-wrap td .label.dark-blue {
  background: #3e668d;
}
.table-wrap td .label.blue {
  background: #3f92c9;
}
.table-wrap td .label.green {
  background: #3a9f8b;
}
.table-wrap td .body {
  padding: 0 10px 10px 10px;
}
.table-wrap td .title {
  font-size: 18px;
  line-height: 18px;
  color: #5a5a5a;
}
.table-wrap td .location {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  color: #5a5a5a;
}
.table-wrap td .location .small {
  font-weight: 100;
  font-size: 14px;
}
.table-wrap td .type {
  font-size: 14px;
  line-height: 36px;
}
.table-wrap td .more {
  line-height: 36px;
  position: relative;
}
.table-wrap td .more:hover {
  text-decoration: none;
}
.table-wrap td .more:after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 14px;
  margin-left: 10px;
  margin-top: 12px;
  position: absolute;
}
.table-wrap td .more.orange:after {
  background: url("../img/arrows.png") center -22px no-repeat;
}
.table-wrap td .more.violet:after {
  background: url("../img/arrows.png") center 1px no-repeat;
}
.table-wrap td .more.dark-green:after {
  background: url("../img/arrows.png") center -45px no-repeat;
}
.table-wrap td .more.dark-blue:after {
  background: url("../img/arrows.png") center -68px no-repeat;
}
.table-wrap td .more.blue:after {
  background: url("../img/arrows.png") center -91px no-repeat;
}
.table-wrap td .more.green:after {
  background: url("../img/arrows.png") center -113px no-repeat;
}
.footer-blue {
  position: relative;
  background: url("../img/bg-footer-blue.png") top right no-repeat;
  height: 152px;
  z-index: 5;
  width: 100%;
  max-width: 1920px;
  margin: -150px auto 0 auto;
}
.footer-green {
  position: relative;
  background: url("../img/bg-footer-green.png") top right no-repeat;
  height: 152px;
  z-index: 5;
  width: 100%;
  max-width: 1920px;
  margin: -150px auto 0 auto;
}
.footer-lime {
  position: relative;
  background: url("../img/bg-footer-lime.png") top right no-repeat;
  height: 152px;
  z-index: 5;
  width: 100%;
  max-width: 1920px;
  margin: -150px auto 0 auto;
}
.footer-cyan {
  position: relative;
  background: url("../img/bg-footer-cyan.png") top right no-repeat;
  height: 152px;
  z-index: 5;
  width: 100%;
  max-width: 1920px;
  margin: -150px auto 0 auto;
}
