html, body {
  background: url("../img/bg-head.png") top center repeat;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.header {
  padding: 80px 0 0 0;
  height: 360px;
  background: url("../img/bg-circles-2.png") top center no-repeat;

  .menu-sections {
    background: url("../img/bg-lines-top-left.png") 70px 60px no-repeat;
    width: 433px;
    height: 410px;
    position: absolute;
    top: 0;
    left: 0;

    .home {
      margin-top: -90px;
      display: block;
      margin-left: -85px;
      width: 295px;
      height: 295px;
    }

    .section {
      background: url("../img/bg-sections-menu-item.png") top center no-repeat;
      width: 132px;
      height: 132px;
      display: block;
      position: absolute;

      &:after {
        content: "";
        display: block;
        width: 132px;
        height: 132px;
      }
    }

    .partners {
      top: 10px;
      left: 300px;

      &:after {
        background: url("../../img/sprite-sections.png") 16px -1605px no-repeat;
        background-size: 77%;
      }
    }

    .startup {
      top: 137px;
      left: 240px;

      &:after {
        background: url("../../img/sprite-sections.png") 16px -1500px no-repeat;
        background-size: 77%;
      }
    }

    .business {
      top: 226px;
      left: 136px;

      &:after {
        background: url("../../img/sprite-sections.png") 16px -1285px no-repeat;
        background-size: 77%;
      }
    }

    .esoc {
      top: 269px;
      left: 3px;

      &:after {
        background: url("../../img/sprite-sections.png") 16px -1714px no-repeat;
        background-size: 77%;
      }
    }

    .tech {
      top: 226px;
      left: 136px;

      &:after {
        background: url("../../img/sprite-sections.png") 15px -1388px no-repeat;
        background-size: 77%;
      }
    }
  }

  .logo {
    display: block;
    width: 278px;
    height: 278px;
    margin: 0 auto;
    text-align: center;
  }
}

.table-wrap {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    padding: 9px 0;
    text-align: center;
    border: 1px dashed #a5a5a5;
    border-top: 1px dashed #a5a5a5;
    border-bottom: 1px dashed #a5a5a5;
    font-size: 18px;
    font-weight: 100;

    span {
      font-size: 36px;
      margin-right: 10px;
      font-weight: 300;
      line-height: 36px;
    }

    &:first-child {
      border-left: none;
    }
  }

  tr:last-child {
    td {
      padding-bottom: 150px;
    }
  }

  td {
    border-left: 1px dashed #a5a5a5;
    border-bottom: 1px dashed #a5a5a5;
    padding: 0;
    vertical-align: top;
    width: 220px;

    &:first-child {
      border-left: none;
    }

    .orange {
      color: #d2784b;
    }

    .violet {
      color: #745998;
    }

    .dark-green {
      color: #546c71;
    }

    .dark-blue {
      color: #3e668d;
    }

    .blue {
      color: #3f92c9;
    }

    .green {
      color: #3a9f8b;
    }

    .label {
      padding: 12px 42px 4px 42px;
      margin-bottom: 10px;

      &.violet {
        background: #745998;
      }

      &.orange {
        background: #d2784b;
      }

      &.dark-green {
        background: #546c71;
      }

      &.dark-blue {
        background: #3e668d;
      }

      &.blue {
        background: #3f92c9;
      }

      &.green {
        background: #3a9f8b;
      }
    }

    .body {
      padding: 0 10px 10px 10px;
    }

    .title {
      font-size: 18px;
      line-height: 18px;
      color: #5a5a5a;
    }

    .location {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px;
      color: #5a5a5a;

      .small {
        font-weight: 100;
        font-size: 14px;
      }
    }

    .type {
      font-size: 14px;
      line-height: 36px;
    }

    .more {
      line-height: 36px;

      position: relative;

      &:hover {
        text-decoration: none;
      }

      &:after {
        content: "";
        display: inline-block;
        width: 17px;
        height: 14px;
        margin-left: 10px;
        margin-top: 12px;
        position: absolute;
      }

      &.orange:after {
        background: url("../img/arrows.png") center -22px no-repeat;
      }

      &.violet:after {
        background: url("../img/arrows.png") center 1px no-repeat;
      }

      &.dark-green:after {
        background: url("../img/arrows.png") center -45px no-repeat;
      }

      &.dark-blue:after {
        background: url("../img/arrows.png") center -68px no-repeat;
      }

      &.blue:after {
        background: url("../img/arrows.png") center -91px no-repeat;
      }

      &.green:after {
        background: url("../img/arrows.png") center -113px no-repeat;
      }
    }
  }

}

.footer-blue {
  position: relative;
  background: url("../img/bg-footer-blue.png") top right no-repeat;
  height: 152px;
  z-index: 5;
  width: 100%;
  max-width: 1920px;
  margin: -150px auto 0 auto;
}

.footer-green {
  position: relative;
  background: url("../img/bg-footer-green.png") top right no-repeat;
  height: 152px;
  z-index: 5;
  width: 100%;
  max-width: 1920px;
  margin: -150px auto 0 auto;
}

.footer-lime {
  position: relative;
  background: url("../img/bg-footer-lime.png") top right no-repeat;
  height: 152px;
  z-index: 5;
  width: 100%;
  max-width: 1920px;
  margin: -150px auto 0 auto;
}

.footer-cyan {
  position: relative;
  background: url("../img/bg-footer-cyan.png") top right no-repeat;
  height: 152px;
  z-index: 5;
  width: 100%;
  max-width: 1920px;
  margin: -150px auto 0 auto;
}