body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
h2 {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}
td {
  vertical-align: top;
}
.teaser {
  font-size: 13px;
}
.wrap {
  width: 1240px;
  margin: 0 auto;
}
.header {
  height: 710px;
  background: transparent url("../img/bg-head.png") top left repeat;
}
.header .menu-sections {
  background: url("../img/bg-lines-top-left.png") 70px 60px no-repeat;
  width: 433px;
  height: 410px;
  position: absolute;
  top: 0;
  left: 0;
}
.header .menu-sections .home {
  margin-top: -90px;
  display: block;
  margin-left: -85px;
  width: 295px;
  height: 295px;
}
.header .menu-sections .section {
  background: url("../img/bg-sections-menu-item.png") top center no-repeat;
  width: 132px;
  height: 132px;
  display: block;
  position: absolute;
}
.header .menu-sections .section:after {
  content: "";
  display: block;
  width: 132px;
  height: 132px;
}
.header .menu-sections .partners {
  top: 10px;
  left: 300px;
}
.header .menu-sections .partners:after {
  background: url("../../img/sprite-sections.png") 16px -1605px no-repeat;
  background-size: 77%;
}
.header .menu-sections .startup {
  top: 137px;
  left: 240px;
}
.header .menu-sections .startup:after {
  background: url("../../img/sprite-sections.png") 16px -1500px no-repeat;
  background-size: 77%;
}
.header .menu-sections .business {
  top: 226px;
  left: 136px;
}
.header .menu-sections .business:after {
  background: url("../../img/sprite-sections.png") 16px -1285px no-repeat;
  background-size: 77%;
}
.header .menu-sections .esoc {
  top: 269px;
  left: 3px;
}
.header .menu-sections .esoc:after {
  background: url("../../img/sprite-sections.png") 16px -1714px no-repeat;
  background-size: 77%;
}
.header .menu-sections .tech {
  top: 226px;
  left: 136px;
}
.header .menu-sections .tech:after {
  background: url("../../img/sprite-sections.png") 15px -1388px no-repeat;
  background-size: 77%;
}
.header .inner {
  padding: 55px 0;
  background: transparent url("../img/bg-circles.png") top center no-repeat;
  text-align: center;
}
.header .menu {
  float: right;
  list-style: none;
  margin: 40px 40px 40px 0;
  padding: 0;
}
.header .menu ul {
  margin: 0;
  padding: 0;
}
.header .menu li {
  display: inline-block;
  margin: 0 0 0 30px;
  padding: 0;
}
.header .menu a {
  color: #4387ad;
  font-size: 20px;
  text-decoration: none;
}
.header .menu a:hover {
  text-decoration: underline;
}
.header .social {
  float: right;
  list-style: none;
  margin: 0 40px 0 0;
  padding: 0;
  clear: both;
}
.header .social ul {
  margin: 0;
  padding: 0;
}
.header .social li {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0;
}
.header .social a {
  display: inline-block;
  width: 57px;
  height: 53px;
}
.header .social .icon-share {
  background: transparent url("../img/icon-social.png") -1px 11px no-repeat;
}
.header .social .icon-share:hover {
  background: #6699b8 url("../img/icon-social.png") -1px -75px no-repeat;
}
.header .social .icon-vk {
  background: #f0f0f0 url("../img/icon-social.png") -63px 11px no-repeat;
}
.header .social .icon-vk:hover {
  background: #6699b8 url("../img/icon-social.png") -63px -75px no-repeat;
}
.header .social .icon-fb {
  background: #f0f0f0 url("../img/icon-social.png") -127px 11px no-repeat;
}
.header .social .icon-fb:hover {
  background: #6699b8 url("../img/icon-social.png") -127px -75px no-repeat;
}
.header.sale .menu a {
  color: #00a18c;
}
.header.sale .icon-share {
  background: transparent url("../img/icon-social.png") -1px -119px no-repeat;
}
.header.sale .icon-share:hover {
  background: #00a18c url("../img/icon-social.png") -1px -75px no-repeat;
}
.header.sale .icon-vk {
  background: #f0f0f0 url("../img/icon-social.png") -63px -119px no-repeat;
}
.header.sale .icon-vk:hover {
  background: #00a18c url("../img/icon-social.png") -63px -75px no-repeat;
}
.header.sale .icon-fb {
  background: #f0f0f0 url("../img/icon-social.png") -127px -119px no-repeat;
}
.header.sale .icon-fb:hover {
  background: #00a18c url("../img/icon-social.png") -127px -75px no-repeat;
}
.header.startup .menu a {
  color: #8fc400;
}
.header.startup .icon-share {
  background: transparent url("../img/icon-social.png") -1px -32px no-repeat;
}
.header.startup .icon-share:hover {
  background: #8fc400 url("../img/icon-social.png") -1px -75px no-repeat;
}
.header.startup .icon-vk {
  background: #f0f0f0 url("../img/icon-social.png") -63px -32px no-repeat;
}
.header.startup .icon-vk:hover {
  background: #8fc400 url("../img/icon-social.png") -63px -75px no-repeat;
}
.header.startup .icon-fb {
  background: #f0f0f0 url("../img/icon-social.png") -127px -32px no-repeat;
}
.header.startup .icon-fb:hover {
  background: #8fc400 url("../img/icon-social.png") -127px -75px no-repeat;
}
.header .text {
  color: #979797;
  padding: 70px 0;
}
.header .text .date {
  font-size: 46px;
  margin-bottom: 10px;
}
.header .text .address {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 40px;
}
.header .text .large {
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
}
.header .logo {
  width: 290px;
  height: 190px;
  padding: 50px 0;
  border-radius: 290px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.about {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}
.about #countdown {
  width: 660px;
  margin: -85px auto 80px auto;
}
.about .ClassyCountdown-wrapper > div {
  background: #ffffff;
  border-radius: 70px;
}
.tabs {
  margin-bottom: 200px;
}
.tabs h2 {
  margin-bottom: 100px;
}
.tabs .time {
  font-size: 16px;
  width: 109px;
}
.tabs li {
  height: 84px;
  line-height: 84px;
}
.tabs li.time {
  width: 154px;
  background: transparent url("../img/icon-time.png") center center no-repeat;
}
.tabs .ui-tabs-nav {
  border-bottom: 2px dotted #0088b0;
}
.tabs.sale .ui-tabs-nav {
  border-bottom: 2px dotted #00a18c;
}
.tabs.startup .ui-tabs-nav {
  border-bottom: 2px dotted #8fc400;
}
.tabs table {
  table-layout: fixed;
  border-collapse: collapse;
}
.tabs table thead tr {
  border-bottom: 2px dotted #0088b0;
}
.tabs table th {
  font-size: 30px;
  font-weight: 300;
  color: #0088b0;
}
.tabs table th:nth-child(2n) {
  background: #fafafa;
}
.tabs table td {
  width: 364px;
  padding: 24px 10px;
  border-bottom: 2px dotted #898989;
}
.tabs table td:nth-child(2n) {
  background: #fafafa;
}
.tabs table tr.delimiter td {
  background: #f0f0f0;
  border: none;
}
.tabs .btn-register-gray {
  background: transparent url("../img/btn-register-gray.png") top center no-repeat;
  width: 461px;
  height: 69px;
  color: #0088b0;
  font-size: 36px;
  line-height: 69px;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 60px auto 120px auto;
}
.tabs .btn-register-gray.sale {
  background: transparent url("../img/btn-register-gray-sale.png") top center no-repeat;
  color: #00a18c;
}
.tabs .btn-register-gray.startup {
  background: transparent url("../img/btn-register-gray-startup.png") top center no-repeat;
  color: #8fc400;
}
a.come-on {
  display: inline-block;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
  width: 200px;
  text-align: center;
  padding-left: 55px;
  text-decoration: none;
  font-size: 18px;
  background: #0088b0 url("../img/icon-come-on.png") 20px 6px no-repeat;
}
a.come-on.sale {
  background-color: #00a18c;
}
.startup a.come-on {
  background-color: #8fc400;
}
.speaker {
  padding: 0 45px 0 170px;
  color: #444444;
}
.speaker:after {
  content: "";
  display: block;
  clear: both;
}
.speaker .pic {
  float: left;
  margin: 6px 0 0 -140px;
  width: 112px;
  height: 112px;
}
.speaker .name {
  font-size: 24px;
}
.speaker .position {
  font-size: 14px;
  color: #00779e;
}
.speaker p {
  font-size: 14px;
  color: #000000;
}
.register .wrap {
  margin-bottom: 100px;
}
.register .wrap h4 {
  margin-bottom: 0;
}
.register .wrap p {
  margin-bottom: 40px;
}
.register .form-wrap {
  background: transparent url("../img/bg-register.jpg") top center no-repeat;
  margin-bottom: 20px;
  padding: 1px 0 34px 0;
}
.register .form-wrap h2 {
  color: #ffffff;
}
.register .epts-magic-table {
  border: none !important;
}
.register .epts-table-header {
  background: #00809F !important;
}
.register .epts-widget-hint {
  display: none;
}
.register .epts-buyTicketsWidget {
  width: 700px;
  margin: 0 auto;
  zoom: 1.5;
}
.register .epts-buyTicketsWidget th {
  font-family: 'Open Sans' !important;
  font-weight: 100 !important;
}
.register a.btn {
  background: transparent url("../img/btn-register-large.png") top center no-repeat;
  width: 314px;
  height: 40px;
  text-align: center;
  color: #0088b0;
  font-size: 36px;
  line-height: 36px;
  display: inline-block;
  text-decoration: none;
  padding: 42px 74px 26px 127px;
}
.register.sale .form-wrap {
  background: transparent url("../img/bg-sales-register.jpg") top center no-repeat;
}
.register.sale .epts-table-header {
  background: #008A73 !important;
}
.register.startup .form-wrap {
  background: transparent url("../img/bg-startup-register.jpg") top center no-repeat;
}
.register.startup .epts-table-header {
  background: #6CA935 !important;
}
.sponsors {
  border-bottom: 1px dashed #c6c6c6;
  padding: 0 0 100px 0;
  margin-bottom: 70px;
  text-align: center;
}
.sponsors h2 {
  margin-bottom: 50px;
}
.sponsors:after {
  display: block;
  clear: both;
  content: "";
}
.sponsors .sponsor {
  display: inline-block;
  width: 264px;
  height: 145px;
  border: 1px dashed #c6c6c6;
  text-align: center;
  overflow: hidden;
  margin: 0 20px;
}
.partners {
  margin-bottom: 150px;
  text-align: center;
}
.partners h2 {
  margin-bottom: 50px;
}
.partners:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.partners .partner {
  display: inline-block;
  width: 210px;
  height: 116px;
  border: 1px dashed #c6c6c6;
  text-align: center;
  overflow: hidden;
  margin: 0 18px;
}
.contacts {
  clear: both;
  background: #e9e9e9;
  padding-top: 75px;
  text-align: center;
}
.contacts:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.contacts h2 {
  margin-bottom: 90px;
}
.contacts .contact {
  display: inline-block;
  width: 280px;
  text-align: center;
  margin: 0 200px 80px 0;
}
.contacts .contact:last-child {
  margin: 0;
}
.contacts .contact .user-pic {
  margin-bottom: 35px;
}
.contacts .contact .name {
  font-size: 24px;
  color: #232323;
  margin-bottom: 15px;
}
.contacts .contact .position {
  font-size: 16px;
  margin-bottom: 30px;
}
.contacts .contact .info {
  font-size: 18px;
  line-height: 40px;
}
.contacts .contact .info a {
  color: #232323;
  text-decoration: none;
}
.contacts .address {
  clear: both;
  text-align: center;
  padding: 60px 0;
  font-size: 24px;
  color: #999999;
  border-top: 2px dotted #898989;
}
.footer {
  padding: 30px 0;
  text-align: center;
  color: #979797;
  font-size: 15px;
}
.ui-widget {
  font-family: 'Open Sans', sans-serif;
}
.ui-widget-content {
  border: none;
}
.ui-widget-header {
  background: none;
  border: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: none;
  border: none;
  border-radius: 0;
}
.ui-tabs-active.ui-state-active {
  background: #0088b0;
}
.ui-tabs-active.ui-state-active a.ui-tabs-anchor {
  color: #ffffff;
}
.ui-tabs-active.ui-state-active a.ui-tabs-anchor:focus {
  outline: none;
  box-shadow: none;
}
.sale .ui-tabs-active.ui-state-active {
  background: #00a18c;
}
.startup .ui-tabs-active.ui-state-active {
  background: #8fc400;
}
.ui-tabs .ui-tabs-panel {
  padding: 0;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0 30px;
  min-width: 200px;
  font-size: 32px;
  color: #b5b5b5;
  text-align: center;
}
