.ui-widget {
  font-family: 'Open Sans', sans-serif;
}
.ui-widget-content {
  border: none;
}
.ui-widget-header {
  background: none;
  border: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: none;
  border: none;
  border-radius: 0;
}
.ui-tabs-active.ui-state-active {
  background: #0088b0;
}
.ui-tabs-active.ui-state-active a.ui-tabs-anchor {
  color: #ffffff;
}
.ui-tabs-active.ui-state-active a.ui-tabs-anchor:focus {
  outline: none;
  box-shadow: none;
}
.sale .ui-tabs-active.ui-state-active {
  background: #00a18c;
}
.startup .ui-tabs-active.ui-state-active {
  background: #8fc400;
}
.ui-tabs .ui-tabs-panel {
  padding: 0;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0 30px;
  min-width: 200px;
  font-size: 32px;
  color: #b5b5b5;
  text-align: center;
}
