
#fheader{
 width: 100%;
 height: 61px;
 background-color: #4475b0;
 border-bottom: 1px solid #8fb6e6;
}

#presheader{
 width: 100%;
 height: 50px;
 background:url('imgs/fon.jpg');
 text-align: center;
 font-size: 42px;
 color: #9dceef;
}

#sheader{
 width: 100%;
 height: 101px;
 background:url('imgs/fon.jpg');
 text-align: center;
 padding-top: 50px;
 vertical-align: middle;
 font-size: 42px;
 color: #6c7682;
 font-family: Segoe UI Semibold;  
 src: url(fonts/seguisb.ttf); 
}

#hcontent{
 width: 980px;
 margin:0px auto;
 padding: 10px;
 margin-top: 15px;
 line-height: 16px;
 font-size: 14px;
 font-family: Segoe UI;  
 src: url(fonts/segui.ttf); 
 position:relative;
 word-wrap:break-word;
}

.deepcontent{
 width: 980px;
 margin:0px auto;

}

.div6{
 width: 300px;
 height: 390px;
 float: left;
 position:relative;
 word-wrap:break-word;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 24px;
 margin-top: 24px;

}

#scontent{
 width: 100%;
 background-color: #f9f9f9;
 float: left;
 text-align: center;
 font-size: 24px;
 padding-bottom: 24px;
}

#bottomContent{
 width: 980px;
 padding: 10px;
 float: left;

}

#footer{
 width: 100%;
 height: 96px;
 background-color: #4475b0;
 border-top: 1px solid #8fb6e6;


}

.timeball {
  display: table-cell;
  position: relative;
  left: 100px;
  width: 82px; height: 82px;
  background: rgb(143,182,230);
  text-align: center;
  vertical-align: middle;
  border-radius: 41px;
}

.timeball p {
  color: #FFF;
}


.timerange {
  font-size: 14px;
}



.aa{
 color: #9dceef;
 text-decoration: none;
 font-family: Segoe UI;  
 src: url(fonts/segoeui.ttf); 
 font-size: 18px;
 }
.ac{
 color: #ffffff;
 text-decoration: none; 
 font-family: Segoe UI;  
 src: url(fonts/segoeui.ttf); 
 font-size: 18px;
 }

.ala{
 color: #194d8a;
 text-decoration: none; 
 font-family: Segoe UI;  
 src: url(fonts/segoeui.ttf); 
 font-size: 14px;
 }
.al{
 color: #9dceef;
 text-decoration: none; 
 font-family: Segoe UI;  
 src: url(fonts/segoeui.ttf); 
 font-size: 14px;
 }

.qwe{
 font-size: 22px;
 color: #194d8a; 
 text-align: center;
 font-family: Segoe UI Semibold;  
 src: url(fonts/seguisb.ttf); 

}

.hcfont{
 font-size: 24px;
 color: #194d8a;
 font-family: Segoe UI;  
 src: url(fonts/segui.ttf); 

}

.hdiv6{
 font-size: 24px;
 color: #194d8a;
 font-family: Segoe UI;  
 src: url(fonts/segui.ttf);
 text-align: center; 

}


.fhdiv6{
 font-size: 16px;
 font-family: Segoe UI;  
 src: url(fonts/segui.ttf);
 text-align: center;
 top: 20px;
 left: 120px;
 color: #ffffff;

 position: absolute;

}

.shdiv6{
 font-size: 12px;
 font-family: Segoe UI;  
 src: url(fonts/segui.ttf);
 text-align: center;
 left: 125px;
 top: 42px;
 color: #ffffff;

 position: absolute;

}


.bottomFont{
font-size: 20px;
color: #285992; 
text-align: left;

}

.footerFont{
font-size: 20px;
color: #7fb0da; 
text-align: left;
}

.copy{
 font-size: 12px;
 color: #8bbce2; 
 text-align: left;
 font-family: Segoe UI;  
 src: url(fonts/segoeui.ttf);
 margin-left: 24%;
 margin-top: 16px;

}

.cord{
 font-size: 16px;
 font-family: Segoe UI;  
 src: url(fonts/segui.ttf); 

}

p {
	color: #555;
}

.text{
 font-size: 14px;
 color: #555; 
 text-align: left;
 font-family: Segoe UI;  
 src: url(fonts/segui.ttf);  
 line-height: 15px;

}

.linktext{
 font-size: 15px;
 color: #8bbce2; 
 font-family: Segoe UI;  
 src: url(fonts/segui.ttf);  
 text-decoration: none; 

}

.more{
 font-size: 13px;
 color: #cddaea; 
 font-family: Segoe UI;  
 src: url(fonts/segui.ttf);  

}

.pimg img {
	padding-left: 10px;
	
}
